<div class="card mb-0 card-accent-primary">
  <div class="card-header bg-primary">
    <span *ngIf="!vistaFormulario" class="h6">MANTENIMIENTO DE SERVICIOS</span>
    <span *ngIf="vistaFormulario && verNuevo" class="h6">NUEVO SERVICIO</span>
    <span *ngIf="vistaFormulario && !verNuevo" class="h6">EDITANDO SERVICIO</span>
    <button type="button" class="close float-right" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <form #frmDatos="ngForm" name="frmDatos" autocomplete="off" *ngIf="!cargando && !vistaFormulario" (ngSubmit)="busqueda()">
    <div class="card-body pb-0" >
      <!--/.card-->
      <div class="card border-primary">
          <div class="card-header bg-primary border-primary">
            <i class="fa fa-align-justify"></i> Listado de Servicios
            <button type="button" class="btn btn-primary btn-sm float-right" (click)="nuevo()">
              <i class="fa fa-plus"></i> Nuevo
            </button>
          </div>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control border-primary" placeholder="Busque por servicio" maxlength="150" id="servicio" name="servicio" [(ngModel)]="parametros.servicio">
              <input type="text" class="form-control border-primary" placeholder="Busque por detalle" maxlength="150" id="detalle" name="detalle" [(ngModel)]="parametros.detalle">
              <button class="input-group-addon btn btn-square btn-primary" title="buscar" (click)="busqueda()" type="button"><i class="fa fa-search cursor-pointer"></i></button>
              <button type="reset" class="btn btn-sm btn-primary" title="actualizar" (click)="limpiar()"><i class="fa fa-refresh cursor-pointer"></i></button>
            </div>
            <div class="table-responsive">
              <!--/.table-->
              <table class="table table-responsive-sm table-bordered table-striped table-hover table-outline">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th>Servicio</th>
                      <th>Detalle</th>
                      <th>Estado</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let servicio of servicios;let i=index" style="cursor: pointer" (click)="enviarservicio(servicio)">
                      <th class="text-center">{{i+1}}</th>
                      <td>{{servicio.servicio}}</td>
                      <td>{{servicio.detalle}}</td>
                      <td>
                        <label class="switch switch-label switch-pill switch-primary">
                          <input type="checkbox" class="switch-input" [(ngModel)]="servicio.estado" name="{{servicio.servicio}}">
                          <span class="switch-slider" data-checked="on" data-unchecked="off" (click)="confirmarcambiodeestado(servicio)"></span>
                        </label>
                      </td>
                      <td scope="row" class="text-center">
                        <a class="btn-link" style="cursor: pointer" title="editar" (click)="traerParaEdicion(servicio.id)"><i class="fa fa-edit text-primary" style="font-size: 23px; "></i></a>
                      </td>
                    </tr>
                  </tbody>
              </table>
              <!--/.table-->
              <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#">Prev</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">4</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
              </ul>
            </div>
          </div>
      </div>
      <!--/.card-->
    </div>
    <div class="modal-footer border-primary">
        <button type="reset" class="btn btn-sm btn-danger" (click)="limpiar()"><i class="fa fa-eraser"></i> Limpiar</button>
        <button type="button" class="btn btn-sm btn-dark" (click)="activeModal.dismiss('Cross click')"><i class="fa fa-remove"></i> Cerrar</button>
    </div>
  </form>
  <!--/.form-->
  <form #formulario="ngForm" autocomplete="off" *ngIf="!cargando && vistaFormulario" class="form-horizontal" (ngSubmit)="guardarServicio()">
    <div class="card-body" >
      <div class="form-group row">
        <label class="col-sm-3 form-control-label">Estado <span class="text-primary">*</span></label>
        <div class="col-sm-9" >
          <label class="switch switch-label switch-pill switch-primary">
            <input type="checkbox" class="switch-input" [(ngModel)]="servicio.estado" name="estado">
            <span class="switch-slider" data-checked="on" data-unchecked="off"></span>
          </label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 form-control-label">Servicio <span class="text-primary">*</span></label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="servicio" required="" placeholder="Ingrese el servicio" maxlength="50" [(ngModel)]="servicio.servicio">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 form-control-label">Detalle</label>
        <div class="col-sm-9">
          <input type="text" name="detalle" placeholder="Ingrese detalle del servicio" class="form-control" maxlength="50" [(ngModel)]="servicio.detalle">
        </div>
      </div>
    </div>
    <div class="modal-footer border-primary">
      <button type="submit" class="btn btn-sm btn-primary" [disabled]="!formulario.form.valid"><i class="fa fa-dot-circle-o"></i> Guardar</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-eraser"></i> Limpiar</button>
      <button type="button" class="btn btn-sm btn-dark" (click)="vistaFormulario = false"><i class="fa fa-remove"></i> Cancelar</button>
    </div>
  </form>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>