<!-- Breadcrumb-->
<ol class="breadcrumb border-primary">
  <li class="breadcrumb-item active">Inicio</li>
</ol>
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12 col-xl-12">
        <div class="card border-primary">
          <div class="card-header bg-primary">
            <i class="fa fa-align-justify"></i> Bienvenido
            <!-- <div class="card-header-actions">
              <a href="http://coreui.io/docs/components/bootstrap-jumbotron/" class="card-header-action" target="_blank">
                <small class="text-muted">docs</small>
              </a>
            </div> -->
          </div>
          <div class="card-body">
            <div class="jumbotron">
              <h4 class="display-4">Hello, jatos.com</h4>
              <!-- <h4>Hello, jatos.com</h4> -->
              <p class="lead">Inmobiliaria de la región Piura.
                Grupo de trabajo y empresarial Jat !!. Innovando para ti !!</p>
              <img class="img-responsive" src="assets/images/grupoJat.JPG" width="350" alt="CoreUI Logo">
              <!-- <hr class="my-4"> -->
              <!--<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
