<ol class="breadcrumb border-primary">
  <li class="breadcrumb-item">
    <a [routerLink]="['inicio']">Inicio</a>
  </li>
  <li class="breadcrumb-item active">Casas</li>
</ol>
<div class="container-fluid" *ngIf="!cargando">
  <div class="animated fadeIn">
    <!--/.row-->
    <div class="row">
      <!--/.col-->
      <div class="col-md-12">
        <!--/.card-->
        <div class="card border-primary">
          <div class="card-header bg-primary">
            <i class="fa fa-align-justify"></i> Consolidado
          </div>
          <div class="card-body">
            <!--/.row-->
            <div class="row">
              <!--/.col-->
              <div class="col-sm-3">
                <div class="callout callout-info" style="cursor: pointer" (click)="abrirPropiedades()">
                  <small class="text-muted">Propiedades</small>
                  <br>
                  <strong class="h4">{{casas.length}}</strong>
                </div>
              </div>
              <!--/.col-->
              <div class="col-sm-3">
                <div class="callout callout-danger">
                  <small class="text-muted">Vendidos</small>
                  <br>
                  <strong class="h4">0</strong>
                </div>
              </div>
              <!--/.col-->
              <div class="col-sm-3">
                <div class="callout callout-warning">
                  <small class="text-muted">Reservados</small>
                  <br>
                  <strong class="h4">0</strong>
                  <div class="chart-wrapper">
                    <canvas id="sparkline-chart-3" width="100" height="30"></canvas>
                  </div>
                </div>
              </div>
              <!--/.col-->
              <div class="col-sm-3">
                <div class="callout callout-success">
                  <small class="text-muted">Retenidos</small>
                  <br>
                  <strong class="h4">0</strong>
                  <div class="chart-wrapper">
                    <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
                  </div>
                </div>
              </div>
              <!--/.col-->
            </div>
            <!--/.row-->
          </div>
        </div>
        <!--/.card-->
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
    <div class="row">
      <!--/.col-->
      <div class="col-md-12">
        <!--/.card-->
        <div class="card border-primary">
          <div class="card-header bg-primary" *ngIf="!vermensajes">
            <i class="fa fa-align-justify"></i> Lista de casas
            <button type="button" class="btn btn-primary btn-sm float-right" ngbTooltip="Nuevo" (click)="abrirPropiedades()">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="card-header bg-primary" *ngIf="vermensajes">
            <div *ngIf="estadomensajes">
              <i class="fa fa-envelope-o"></i> Leidos
            </div>
            <div *ngIf="!estadomensajes">
              <i class="fa fa-envelope-o"></i> No leidos
            </div>
            <button type="button" class="btn btn-primary btn-sm float-right" (click)="cerrarmensajes()">
              <i class="fa fa fa-remove"></i>
            </button>
            <!-- <ui-switch [(ngModel)]="estadomensajes" [checked]="true" name="estadomensajes" class="float-right" (click)="listarmensajes(casa_id, estadomensajes)"
              title="estado mensaje">activo</ui-switch> -->
          </div>
          <form #buscarpropiedad="ngForm" autocomplete="off" *ngIf="!vermensajes" (ngSubmit)="busqueda()">
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control border-primary" placeholder="Busque por propietario" maxlength="150"
                  id="nombres" [(ngModel)]="parametros.persona_id.nombres" name="nombres">
                <input type="text" class="form-control border-primary" placeholder="Busque por ubigeo" maxlength="150"
                  id="ubicacion" [(ngModel)]="parametros.ubigeo_id.ubigeo" name="ubigeo">
                <input type="text" class="form-control border-primary" placeholder="Busque por direccion" maxlength="150"
                  id="direccion" [(ngModel)]="parametros.direccion" name="direccion">
                <button class="input-group-addon btn btn-square btn-primary" ngbTooltip="Buscar" (click)="busqueda()" type="button"><i
                    class="fa fa-search cursor-pointer"></i></button>
                <button type="reset" class="btn btn-sm btn-primary" ngbTooltip="Actualizar" (click)="limpiar()"><i class="fa fa-refresh"></i></button>
              </div>
              <div class="table-responsive">
                <!--/.table-->
                <table class="table table-responsive-sm table-bordered table-striped table-hover table-outline">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">
                        <i class="fa fa-file-image-o"></i>
                      </th>
                      <th>Propietario</th>
                      <th class="text-center">Ubicacion</th>
                      <th>Direccion</th>
                      <th class="text-center">Area</th>
                      <th>Precio</th>
                      <th>Pisos</th>
                      <th>Cuartos</th>
                      <th>Baños</th>
                      <th>¿Jardin?</th>
                      <th>¿Cochera?</th>
                      <!--<th>Descripcion</th>-->
                      <th>Estado</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let casa of casas;let i=index">
                      <th class="text-center">{{i+1}}</th>
                      <td *ngIf="casa.foto==null">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                      </td>
                      <td *ngIf="casa.foto!=null">
                        <a [href]="casa.foto" target="_blank">
                          <img [src]="casa.foto" class="rounded mx-auto d-block" width="10" />
                        </a>
                      </td>
                      <td>{{casa.nombres}}</td>
                      <td>{{casa.ubigeo}}</td>
                      <td>{{casa.direccion}}</td>
                      <td>{{casa.largo}} x {{casa.ancho}} mts.</td>
                      <td>S/ {{casa.precio}}</td>
                      <td>{{casa.npisos}}</td>
                      <td>{{casa.ncuartos}}</td>
                      <td>{{casa.nbanios}}</td>
                      <td>
                        <label *ngIf="casa.tjardin==0">No</label>
                        <label *ngIf="casa.tjardin==1">Si</label>
                      </td>
                      <td>
                        <label class="form-control-label" *ngIf="casa.tcochera==0">No</label>
                        <label class="form-control-label" *ngIf="casa.tcochera==1">Si</label>
                      </td>
                      <!--<td>{ {casa.descripcion}}</td>-->
                      <td>
                        <label class="switch switch-label switch-pill switch-primary">
                          <input type="checkbox" class="switch-input" [(ngModel)]="casa.estado" name="{{casa.nombres}}">
                          <span class="switch-slider" data-checked="on" data-unchecked="off" (click)="confirmarcambiodeestado(casa)"></span>
                        </label>
                      </td>
                      <td scope="row" class="text-center">
                        <a class="btn-link" style="cursor: pointer" ngbTooltip="Editar" (click)="editarPropiedad(casa.id)"><i
                            class="fa fa-edit text-primary" style="font-size: 20px; "></i></a>
                        <a class="btn-link" style="cursor: pointer" title="mensajes" (click)="listarmensajes(casa.id, casa.nmensajes > 0)">
                          <i class="icon-bell text-primary" *ngIf="casa.nmensajes == 0" ngbTooltip="Mensajes" style="font-size: 20px; "></i>
                          <i class="icon-bell text-danger" *ngIf="casa.nmensajes > 0" style="font-size: 20px; "></i>
                          <span class="badge badge-pill badge-danger" title="mensajes no leidos" *ngIf="casa.nmensajes > 0">{{casa.nmensajes}}</span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--/.table-->
              </div>
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Prev</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </div>
          </form>
          <!--/.card-body-->
          <div class="card-body" *ngIf="vermensajes">
            <!--Aqui lista todos los mensajes-->
            <div class="table-responsive">
              <!--/.table-->
              <table class="table table-responsive-sm table-bordered table-striped table-hover table-outline">
                <thead class="thead-light">
                  <tr>
                    <th class="text-center">#</th>
                    <th>Nombres</th>
                    <th class="text-center">Telefono</th>
                    <th>Correo</th>
                    <th class="text-center">Titulo</th>
                    <th>Mensaje</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let mensaje of mensajes;let i=index">
                    <th class="text-center">{{i+1}}</th>
                    <td>{{mensaje.nombres}}</td>
                    <td>{{mensaje.telefono}}</td>
                    <td>{{mensaje.email}}</td>
                    <td>{{mensaje.titulo}}</td>
                    <td>{{mensaje.mensaje}}</td>
                    <td>{{mensaje.created_at}}</td>
                    <td>
                      <label class="switch switch-label switch-pill switch-primary">
                        <input type="checkbox" class="switch-input" [(ngModel)]="mensaje.estado" name="{{i+1}}">
                        <span class="switch-slider" data-checked="on" data-unchecked="off" (click)="confirmarcambiodeestadomensaje(mensaje)"></span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--/.table-->
            </div>
          </div>
          <!--/.card-body-->
        </div>
        <!--/.card-->
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>
