<p-menubar [model]="items" [autoDisplay]="false">
  <div>
    <button pButton type="button" label="{{constantes.LABEL_NUEVO}}" (click)="abrirPropiedades()" class="ui-button-raised ui-button-warning"
    icon="{{constantes.ICON_NUEVO}}" style="margin-left:.25em"></button>
  </div>
</p-menubar>
<div class="container-fluid mt-2" *ngIf="!cargando">
  <!--Listado-->
  <app-casas-listado [parametrosBusqueda]="parametrosListado" (enviarActivar)="activar=!$event"
    (enviarAccion)="ejecutarAccion($event)"></app-casas-listado>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>
