<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
  <header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <!-- <img class="navbar-brand-full" src="assets/img-empresa/brand/logo.svg" width="89" height="25" alt="CoreUI Logo">
      <img class="navbar-brand-minimized" src="assets/img-empresa/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo"> -->
      <img class="navbar-brand-full" src="assets/img-empresa/logojatos.png" width="50" height="25" alt="CoreUI Logo">
      <img class="navbar-brand-minimized" src="assets/img-empresa/logojatos.png" width="30" height="30" alt="CoreUI Logo">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
      <li class="nav-item px-3" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['inicio']">Inicio</a>
      </li>
      <!--<li class="nav-item px-3" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['configuracion']">Users</a>
      </li>-->
      <li class="nav-item px-3" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['configuracion/empresa']">Empresa</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item d-md-down-none">
        <span [ngClass]="{'badge badge-pill badge-danger':!conexion,'badge badge-pill badge-success':conexion}">Internet</span>
      </li>
      <li class="nav-item d-md-down-none">
        <a class="nav-link" href="#" data-toggle="dropdown">
          <i class="icon-bell"></i>
          <span *ngIf="cantidad > 0" class="badge badge-pill badge-danger">{{cantidad}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header text-center">
            <strong>NOTIFICACIONES</strong>
          </div>
          <a class="dropdown-item" routerLink="{{not.url}}" *ngFor="let not of notificaciones">
            <i class="fa fa-bell-o text-danger"></i> {{not.notificacion}}
            <span class="badge badge-danger">{{not.cantidad}}</span>
          </a>
          <!-- <a class="dropdown-item" routerLink="{{not.url}}" *ngFor="let not of notificaciones">{{not.notificacion}}</a> -->
          <a class="dropdown-item" [routerLink]="['inicio']" *ngIf="!notificaciones || notificaciones.length == 0">
            <i class="fa fa-bell-o text-primary"></i> Notificaciones 
            <span class="badge badge-primary">0</span>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <img class="img-avatar" src="{{foto ? foto : 'assets/images/user.png'}}" alt="perfil">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header text-center">
            <strong>ADMIN</strong>
          </div>
          <a class="dropdown-item" href="#" (click)="verPerfilUsuario(); false" >
            <i class="fa fa-user"></i> Perfil</a>
          <a class="dropdown-item" routerLink="../login">
            <i class="fa fa-lock"></i> Salir del sistema</a>
        </div>
      </li>
    </ul>
  </header>
  <div class="app-body">
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['inicio']" routerLinkActive="active">
              <i class="nav-icon icon-speedometer"></i> Inicio
              <span class="badge badge-primary">NEW</span>
            </a>
          </li>
          <li class="nav-title">Principal</li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#" routerLinkActive="active">
              <i class="nav-icon icon-puzzle"></i> Propiedades</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['propiedades/casas']" routerLinkActive="active">
                  <i class="nav-icon icon-drop"></i> Casas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['propiedades/lotes']" routerLinkActive="active">
                  <i class="nav-icon icon-pencil"></i> Lotes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['propiedades/habitaciones']"  routerLinkActive="active">
                  <i class="nav-icon icon-puzzle"></i> Habitaciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['propiedades/locales']" routerLinkActive="active">
                  <i class="nav-icon icon-puzzle"></i> Locales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['propiedades/cocheras']" routerLinkActive="active">
                  <i class="nav-icon icon-puzzle"></i> Cocheras</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['propiedades/apartamentos']" routerLinkActive="active">
                  <i class="nav-icon icon-puzzle"></i> Apartamentos</a>
              </li> -->
            </ul>
          </li>
          <li class="nav-title">Operaciones</li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['alquileres']" routerLinkActive="active">
              <i class="nav-icon icon-puzzle"></i> Alquileres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['ventas']" routerLinkActive="active">
              <i class="nav-icon icon-puzzle"></i> Ventas</a>
          </li>
          <li class="divider"></li>
          <li class="nav-title">Extras</li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#" routerLinkActive="active">
              <i class="nav-icon icon-calculator"></i> Configuración</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['configuracion/empresa']" routerLinkActive="active">
                  <i class="nav-icon icon-calculator"></i> Empresa
                  <span class="badge badge-primary">NEW</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['configuracion/usuarios']" routerLinkActive="active">
                  <i class="nav-icon icon-calculator"></i> Usuarios
                  <span class="badge badge-primary">NEW</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['configuracion/personas']" routerLinkActive="active">
                  <i class="nav-icon icon-calculator"></i> Personas
                  <span class="badge badge-primary">NEW</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['configuracion/servicios']" routerLinkActive="active">
                  <i class="nav-icon icon-calculator"></i> Servicios
                  <span class="badge badge-primary">NEW</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['configuracion/ubigeo']" routerLinkActive="active">
                  <i class="nav-icon icon-calculator"></i> Ubigeo
                  <span class="badge badge-primary">NEW</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['configuracion/habilitacionurbana']" routerLinkActive="active">
                  <i class="nav-icon icon-calculator"></i> Habilitación Urbana
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    <main class="main">
      <div class="animated fadeIn">
          <router-outlet></router-outlet>
        </div>
    </main>
    <aside class="aside-menu">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">
            <i class="icon-list"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
            <i class="icon-speech"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
            <i class="icon-settings"></i>
          </a>
        </li>
      </ul>
    </aside>
  </div>
  <footer class="app-footer border-primary">
    <div>
      <strong>jatos.com</strong>
      <span>&copy; Derechos reservados.</span>
    </div>
    <div class="ml-auto">
      <span>{{fechaActual | date: 'dd/MM/yyyy'}}</span>
    </div>
  </footer>
</body>
