<div style="background-size: cover;" class="jumbotron relative-positioned color-white text-md-center mb-0 animated fadeIn">
  <div class="dark-mask mask-primary"></div>
  <div class="container">
    <div class="row mb-small">
      <div class="col-md-12 text-center">
        <h1 class="text-uppercase">Inmobiliaria Jat</h1>
        <h2 class="text-uppercase">Te brindamos el mejor servicio de alquiler y venta de de app-propiedades
          en la región Piura.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-small"><img src="assets/img/template-mac.png" alt="..." class="img-fluid"></div>
      <div class="col-md-6 text-center-sm">
        <p class="text-uppercase text-bold">Inmobiliaria JAT<br>Venta de lotes.<br />Alquiler de locales,
          habitaciones, casas, cocheras y mucho más .</p>
        <p class="no-letter-spacing">Si desea adquirir alguno de estos servicios, o realizar alguna consulta...</p>
        <p><a [href]="['#/welcome/contactos']" class="scroll-to btn btn-template-outlined-white">Contactos</a></p>
      </div>
    </div>
  </div>
</div>

<div class="bar no-mb pt-0 mb-0 bg-white animated fadeIn">
  <div id="contact" class="container pt-0 mb-0 bg-white">
    <section class="bar mb-0">
      <div class="row">
        <div class="col-md-12">
          <div class="heading text-center">
            <h2>Inmobiliaria Jat</h2>
          </div>
          <p class="lead" style="font-size: 22px">
            Te brindamos el mejor servicio de venta de lotes y alquiler de locales, casas, cocheras,
            habitaciones, departamentos y más.
            Para cualquier consulta nos puede contactar mediante nuestros números de teléfono,
            correo electrónico, nuestras redes sociales o acercrase a nuestra oficina.
            Gustosamente atenderemos sus consultas y le brindaremos los servicios que
            tenemos disponibles para usted.
          </p>
        </div>
      </div>
    </section>
    <section class="mb-0">
      <div class="row text-center">
        <div class="col-md-4">
          <div class="box-simple">
            <div class="icon-outlined"><i class="fa fa-map-marker"></i></div>
            <h3 class="h4">Dirección</h3>
            <p style="font-size: 15px">{{empresa.direccion}}<br> {{ubigeo.ubigeo.ubigeo}}, {{ubigeo.provincia.ubigeo}}<br>
              {{ubigeo.departamento.ubigeo}},
              <strong>Perú</strong>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-simple">
            <div class="icon-outlined"><i class="fa fa-phone"></i></div>
            <h3 class="h4">Telefono Central</h3>
            <p style="font-size: 15px">Número telefónico de contacto.</p>
            <p><strong>{{empresa.telefono}}</strong></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-simple">
            <div class="icon-outlined"><i class="fa fa-envelope"></i></div>
            <h3 class="h4">Correo Electrónico</h3>
            <p style="font-size: 15px">Por favor, siéntase libre de escribirnos un correo electrónico
              consultando sobre nuestros servicios.</p>
            <ul class="list-unstyled text-sm">
              <li><strong><a href="mailto:">{{empresa.correo}}</a></strong></li>
              <!--<li><strong><a href="#">Ticketio</a></strong> - our ticketing support platform</li>-->
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!--Mapa de la ubicacion de la empresa-->
<section class="bg-white animated fadeIn">
  <div class="container mapa">
    <div class="heading text-center">
      <h2>Ubícanos</h2>
    </div>
    <!-- <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map> -->
  </div>
</section>
<!--End contacto-->
<section style="background-size: cover;" class="jumbotron relative-positioned color-white text-md-center mb-0 animated fadeIn">
  <div class="dark-mask mask-primary"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-uppercase">Venta</h2>
        <p class="lead mb-small">¡Tenemos a la venta los mejores lotes para usted!</p>
        <p class="mb-small">Cerca a universidades y centros comerciales en la región Piura. Brindamos tambien
          contacto con las mejores constructoras de la region para que haga realidad su sueño de la casa propia.
        </p>
        <p><a [href]="['#/welcome/propiedades']" class="btn btn-template-outlined-white"><i class="fa fa-search"
              aria-hidden="true"></i> Ver propiedades</a></p>
      </div>
      <div class="col-md-6 text-center"><img src="assets/img/template-easy-customize.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</section>
<section class="jumbotron relative-positioned text-md-center mb-0 animated fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center"><img src="assets/img/template-easy-code.png" alt="" class="img-fluid"></div>
      <div class="col-md-6">
        <h2 class="text-uppercase">Alquiler</h2>
        <p class="lead mb-small">¡Tenemos en alquiler los mejores inmuebles para ti!</p>
        <p class="mb-small">Desde habitaciones departamentos casas cocheras locales y démas de acuerdo a tus
          necesidades y
          a los mejores precios.
        </p>
        <p><a [href]="['#/welcome/propiedades']" class=" btn btn-template-main"><i class="fa fa-search" aria-hidden="true"></i>
            Ver propiedades</a></p>
      </div>
    </div>
  </div>
</section>