<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="box">
          <p-tabView>
            <p-tabPanel header="Iniciar Sesion" leftIcon="pi pi-calendar">
              <form action="customer-orders.html" method="get">
                <div class="form-group">
                  <label for="email1">Email</label>
                  <input id="email1" name="email1" type="text" class="form-control" [(ngModel)]="usuario.email">
                </div>
                <div class="form-group">
                  <label for="password1">Password</label>
                  <input id="password1" name="password1" type="password" class="form-control" [(ngModel)]="usuario.password">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-template-outlined" (click)="ingresar()"><i class="fa fa-sign-in"></i> Log in</button>
                </div>
              </form>
            </p-tabPanel>
            <p-tabPanel header="Nuevo usuario" leftIcon="pi pi-inbox">
              <form #mensajeform="ngForm" (ngSubmit)="nuevoUsuario()">
                <div class="form-group">
                  <label for="nombre"><strong>Nombre</strong> <span class="text-primary" pTooltip="Obligatorio" tooltipPosition="top"> *</span></label>
                  <input id="nombre" name="nombre" type="text" class="form-control border-primary" placeholder="Ingresos nombres" required [(ngModel)]="usuario.name">
                </div>
                <div class="form-group">
                  <label for="email"><strong>Email</strong> <span class="text-primary" pTooltip="Obligatorio" tooltipPosition="top"> *</span></label>
                  <input id="email" name="email" type="text" class="form-control border-primary" placeholder="Ingrese email" required [(ngModel)]="usuario.email">
                </div>
                <div class="form-group">
                  <label for="password"><strong>Password</strong> <span class="text-primary" pTooltip="Obligatorio (min 6 dig)" tooltipPosition="top"> *</span></label>
                  <input id="password" name="password" [min]="6" type="password" class="form-control border-primary" placeholder="Ingrese password" required [(ngModel)]="usuario.password">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-template-outlined mr-1" [disabled]="!mensajeform.form.valid"><i class="fa fa-sign-in"></i> Guardar</button>
                  <button type="reset" class="btn btn-template-outlined" title="limpiar">
                    <i class="fa fa-eraser"></i> Limpiar
                  </button>
                </div>
              </form>
            </p-tabPanel>
          </p-tabView>
          <!-- <h2 class="text-uppercase text-center">Login</h2>
          <hr>
           -->
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="box" style="border: rgb(170, 161, 161) 2px dashed;">
          <h2 class="text-uppercase text-center">Inciar Sesion</h2>
          <hr>
          <form action="customer-orders.html" method="get">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input id="nombre" type="text" class="form-control" [(ngModel)]="usuario.name">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" type="text" class="form-control" [(ngModel)]="usuario.email">
            </div>
            <div class="form-group">
              <label for="password" [(ngModel)]="usuario.password">Password</label>
              <input id="password" type="password" class="form-control">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-template-outlined" (click)="ingresar()"><i class="fa fa-sign-in"></i> Log in</button>
            </div>
          </form>
        </div>
      </div>
    </div> -->
  </div>
</div>

<!-- <div class="modal-content">
  <div class="modal-header">
    <h4 id="login-modalLabel" class="modal-title">Iniciar Sesion</h4>
    <button type="button" data-dismiss="modal" aria-label="Close" class="close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">X</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <button class="btn btn-outline-primary" (click)="ingresar()">INICIAR SESION CON GOOGLE</button>
    </div>
    <div class="form-group">
      <button class="btn btn-outline-primary">INICIAR SESION CON TWITTER</button>
    </div>
    <form>
      <div class="form-group">
        <input id="email_modal" type="text" placeholder="email" class="form-control">
      </div>
      <div class="form-group">
        <input id="password_modal" type="password" placeholder="password" class="form-control">
      </div>
      <p class="text-center">
        <button type="button" class="btn btn-template-outlined"><i class="fa fa-sign-in"></i> Iniciar sesion</button>
      </p>
    </form>
    <p class="text-center text-muted">Not registered yet?</p>
    <p class="text-center text-muted"><a href="customer-register.html"><strong>Register now</strong></a>! It is easy
      and done in 1 minute and gives you access to special discounts and much more!</p>
  </div>
</div> -->