<section class="bg-white border-success">
  <div class="container-fluid">
    <div class="heading text-center">
    </div>
    <div class="row portfolio">
      <!--formulario (filtro)-->
      <div [ngClass]="{'sr-only animated fadeIn':activar}" class="col-lg-3 col-md-4 col-sm-5 animated fadeIn">
        <form class="card border-primary animated fadeIn">
          <div class="card-header pt-2 pb-2 bg-primary">
            <span>
              <i class="fa fa-filter"></i>
              <b> Filtros</b>
            </span>
          </div>
          <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 190px)'}">
            <div class="card-body">
              <!--FORMULARIO FILTRO-->
              <p-panel header="Principal" [toggleable]="true">
                <div class="form-group form-group-sm">
                  <label class="control-label">
                    <b> Contrato <span class="text-primary" pTooltip="Obligatorio" tooltipPosition="top">*</span></b>
                  </label>
                  <div class="row">
                    <div class="col-md-6">
                      <p-checkbox name="group1" value="V" label="Venta" [(ngModel)]="ubigeo.contrato" inputId="ny"
                        (onChange)="listarPropiedades(); cambiarTipoPropiedad();"></p-checkbox>
                    </div>
                    <div class="col-md-6">
                      <p-checkbox name="group1" value="A" label="Alquiler" [(ngModel)]="ubigeo.contrato" inputId="sf"
                        (onChange)="listarPropiedades(); cambiarTipoPropiedad();"></p-checkbox>
                    </div>
                  </div>
                </div>
                <div class="form-group form-group-sm">
                  <label class="control-label">
                    <b> Propiedad <span class="text-primary" pTooltip="Obligatorio" tooltipPosition="top">*</span></b>
                  </label>
                  <select [appFocus]="true" class="form-control form-control-sm mousetrap" name="tipopropiedades" required [(ngModel)]="parametros.tipopropiedad"
                    (change)="listarPropiedades()"><!--class="form-control border-success"-->
                    <option value=''>Seleccione...</option>
                    <option [ngValue]="tipopropiedad" *ngFor="let tipopropiedad of tipopropiedades">
                      {{tipopropiedad}}
                    </option>
                  </select>
                </div>
                <div class="form-group form-group-sm">
                  <label class="control-label">
                    <b> Ubicación <span class="text-primary" pTooltip="Obligatorio" tooltipPosition="top">*</span></b>
                  </label>
                  <select (change)="mostrarprovincias(idUbigeoDepartamento)" [(ngModel)]="idUbigeoDepartamento" class="form-control form-control-sm mousetrap"
                    (change)="listarPropiedades()" placeholder="Filtrar por Ubigeo" name="ubigeodepartamento">
                    <option value='0'>Departamento...</option>
                    <option [ngValue]="ubigeodepartamento.id" *ngFor="let ubigeodepartamento of ubigeodepartamentos">{{ubigeodepartamento.ubigeo}}</option>
                  </select>
                  <select (change)="mostrardistritos(idUbigeoProvincia)" [(ngModel)]="idUbigeoProvincia" class="form-control form-control-sm mousetrap"
                    (change)="listarPropiedades()" placeholder="Filtrar por Ubigeo" name="ubigeodepartamento">
                    <!-- [(ngModel)]="idRol"   [disabled] = "responsable || proveedores || captadores"-->
                    <option value='0'>Provincia...</option>
                    <option [ngValue]="ubigeoprovincia.id" *ngFor="let ubigeoprovincia of ubigeoprovincias">{{ubigeoprovincia.ubigeo}}</option>
                    <!--<option [ ngValue]="tip.id" *ngFor="let tip of tiposubigeos"  >{ {tip.nombre}}</option>-->
                  </select>
                  <select (change)="mostrarpadistritos(idUbigeoDistrito)" [(ngModel)]="idUbigeoDistrito" class="form-control form-control-sm mousetrap"
                    (change)="listarPropiedades()" placeholder="Filtrar por Ubigeo" name="ubigeodistrito">
                    <!-- [(ngModel)]="idRol"   [disabled] = "responsable || proveedores || captadores"-->
                    <option value='0'>Distrito...</option>
                    <option [ngValue]="ubigeodistrito.id" *ngFor="let ubigeodistrito of ubigeodistritos">{{ubigeodistrito.ubigeo}}</option>
                    <!--<option [ ngValue]="tip.id" *ngFor="let tip of tiposubigeos"  >{ {tip.nombre}}</option>-->
                  </select>
                </div>
              </p-panel><br />
              <!--Panel opcional-->
              <p-panel header="Opcional" [toggleable]="true">
                <div class="form-group form-group-sm">
                  <label class="control-label">
                    <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
                    <b> Rango Precios</b>
                  </label>
                  <div class="row">
                    <div class="col-md-8">
                      <label>¿Por escrito?</label>
                    </div>
                    <div class="col-md-4">
                      <label class="switch switch-label switch-pill switch-primary">
                        <input type="checkbox" class="switch-input" [(ngModel)]="porescrito" name="porescrito">
                        <span class="switch-slider" data-checked="si" data-unchecked="no"></span>
                      </label>
                    </div>
                  </div>
                  <div class="row" *ngIf="porescrito">
                    <div class="col-md-12">
                      <input type="text" name="precio1" [(ngModel)]="rangoprecio.preciominimo" required placeholder="Rango 1" value="{{rangoprecio.preciominimo}}"
                      class="form-control form-control-sm mousetrap" (updateValue)="rangoprecio.preciominimo=$event" [appAutonumeric2]="rangoprecio.preciominimo">
                    </div>
                    <div class="col-md-12">
                      <input type="text" name="precio2" [(ngModel)]="rangoprecio.preciomaximo" required placeholder="Rango 2" value="{{rangoprecio.preciomaximo}}"
                      class="form-control form-control-sm mousetrap" (updateValue)="rangoprecio.preciomaximo=$event" [appAutonumeric2]="rangoprecio.preciomaximo">
                    </div>
                  </div>
                  <div class="ui-g" style="width:250px;margin-bottom:10px" *ngIf="!porescrito">
                      <div class="ui-g-12" *ngFor="let rangoprecio of listaRangoPrecios; let i = index;">
                        <p-radioButton name="gruporangoprecio" value="{{i}}" label="{{rangoprecio.detalle}}" 
                        [(ngModel)]="rangoPrecio" inputId="opt1"></p-radioButton><!--(onClick)="verificarRangoPrecioRadio()"-->
                      </div>
                  </div>
                  <!-- <select (change)="mostrarparangoprecios(idRangoPrecio)" [(ngModel)]="idRangoPrecio" class="form-control border-success"
            placeholder="Filtrar por Ubigeo" name="ubigeodistrito">
            <option value='0'>Seleccione Precio...</option>
            <option [ngValue]="rangoprecio.id" *ngFor="let rangoprecio of rangoprecios">S/ {{rangoprecio.preciominimo}}
              - S/ {{rangoprecio.preciomaximo}}</option>
          </select> -->
                </div>
                <div class="form-group form-group-sm" *ngIf="verServicios">
                  <label class="control-label">
                    <b>Servicios</b>
                  </label>
                  <div class="row">
                    <div class="col-md-6" *ngFor="let servicio of servicios; let i = index">
                      <p-checkbox name="group2" value="{{servicio.id}}" label="{{servicio.servicio}}" [(ngModel)]="ubigeo.servicios"
                        inputId="ny"></p-checkbox>
                    </div>
                  </div>
                </div>
                <p-footer>
                  <div class="text-right">
                    <button type="button" class="btn btn-sm btn-default mr-1" (click)="listarPropiedades()" title="Buscar">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <div class="btn-group">
                      <button type="reset" class="btn btn-sm btn-default" title="limpiar" (click)="limpiar()">
                        <i class="fa fa-eraser"></i>
                      </button>
                    </div>
                  </div>
                </p-footer>
              </p-panel>
            </div>
          </p-scrollPanel>
        </form>
      </div>
      <!--Listado de propiedades-->
      <div [ngClass]="{'col-lg-9 col-md-8 col-sm-7 animated fadeIn':!activar,'col-lg-12 col-md-12 col-sm-12 animated fadeIn':activar}">
        <div class="card border-primary animated fadeIn">
          <div class="card-header p-1 bg-primary">
            <button class="btn btn-sm btn-default mr-2" (click)="cambiarActivar(activar)" type="button" [pTooltip]="activar ? 'Reducir': 'Ampliar'"
              tooltipPosition="top">
              <i class="{{activar?'fa fa-chevron-right':'fa fa-chevron-left'}}" aria-hidden="true"></i>
            </button>
            <strong class="text-uppercase" *ngIf="propiedades.length > 0"> {{parametros.tipopropiedad}}:
              #{{propiedades.length}}</strong>
            <div class="card-header-actions" *ngIf="idPropiedad!=0">
              <button class="btn btn-sm btn-default mr-2" (click)="cerrarPropiedadDetalle()" type="button" pTooltip="Regresar"
              tooltipPosition="top">
                <i class="{{constantes.ICON_REGRESAR}}" aria-hidden="true"></i>
                <span class="d-none d-md-inline"> {{constantes.LABEL_REGRESAR}}</span>
              </button>
            </div>
          </div>
          
          <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 190px)'}">
            <div class="card-body text-center" *ngIf="idPropiedad==0">
              <img src="assets/img-empresa/avatars/no_image.png" class="rounded mx-auto d-block" *ngIf="propiedades.length == 0">
              <div *ngIf="propiedades.length != 0">
                <div class="row portfolio">
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let propiedad of propiedades; let i = index;">
                    <div class="home-blog-post" style="background-color: white">
                      <div class="image">
                        <img [src]="propiedad.foto" alt="..." class="rounded img-fluid" *ngIf="propiedad.foto!=null">
                        <img src="assets/img-empresa/avatars/no-imagen.png" style="border: 1px cadetblue dashed" alt="..."
                          class="img-fluid" *ngIf="propiedad.foto==null">
                        <div class="overlay d-flex align-items-center justify-content-center">
                          <!--<a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i>Leer mas</a>-->
                          <button (click)='verDetalle(propiedad.id)' type="button" class="btn btn-template-outlined-white">Leer
                            más</button>
                          <!-- <a [routerLink]="['/welcome/lote',lote.id]" target="_blank" class="btn btn-template-outlined-white">Leer
                      más</a> -->
                        </div>
                      </div>
                      <div class="text">
                        <h6 style="color: rgb(87, 139, 62)">
                          <i class="{{constantes.ICON_VENTA}}" aria-hidden="true" ngbTooltip="{{constantes.TAG_VENTA}}" *ngIf="propiedad.contrato=='V'"></i>
                          <i class="{{constantes.ICON_ALQUILER}}" aria-hidden="true" ngbTooltip="{{constantes.TAG_ALQUILER}}" *ngIf="propiedad.contrato=='A'"></i>
                          <strong> {{ubigeo.departamento.ubigeo}} - {{propiedad.ubigeo}}</strong></h6>
                        <p class="author-category"><strong><span style="color: rgb(87, 139, 62)" *ngIf="propiedad.preciocontrato">S/
                              {{propiedad.preciocontrato}}</span>
                            | Área: <span style="color: rgb(87, 139, 62)">{{redondear(propiedad.largo)}}x{{redondear(propiedad.ancho)}}
                              m<sup>2</sup></span></strong></p>
                        <!--<p class="intro">Direccion: Mz. A. Lote 7 San Valentin</p>-->
                      </div>
                    </div>
                  </div>
                  <!---->
                  <div class="container">
                    <!--<nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>-->
                  </div>

                </div>
              </div>
            </div>
            <!--Detalle de propiedades-->
            <div class="card-body" *ngIf="idPropiedad!=0">
              <div *ngIf="parametros.tipopropiedad===constantes.TAG_CASA">
                <app-casa-detalle [id]="idPropiedad" (enviarAccion)="ejecutarAccion($event)"></app-casa-detalle>
              </div>
              <div *ngIf="parametros.tipopropiedad===constantes.TAG_COCHERA" [id]="idPropiedad">
                <app-cochera-detalle [id]="idPropiedad" (enviarAccion)="ejecutarAccion($event)"></app-cochera-detalle>
              </div>
              <div *ngIf="parametros.tipopropiedad===constantes.TAG_APARTAMENTO" [id]="idPropiedad"></div>
              <div *ngIf="parametros.tipopropiedad===constantes.TAG_HABITACION" [id]="idPropiedad">
                <app-habitacion-detalle [id]="idPropiedad" (enviarAccion)="ejecutarAccion($event)"></app-habitacion-detalle>
              </div>
              <div *ngIf="parametros.tipopropiedad===constantes.TAG_LOCAL" [id]="idPropiedad">
                <app-local-detalle [id]="idPropiedad" (enviarAccion)="ejecutarAccion($event)"></app-local-detalle>
              </div>
              <div *ngIf="parametros.tipopropiedad===constantes.TAG_LOTE">
                <app-lote-detalle [id]="idPropiedad" (enviarAccion)="ejecutarAccion($event)"></app-lote-detalle>
              </div>
            </div>
          </p-scrollPanel>
        </div>
      </div>

    </div>

  </div>
</section>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>