<ol class="breadcrumb border-primary">
    <li class="breadcrumb-item">
      <a [routerLink]="['inicio']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Apartamentos</li>
  </ol>
  <div class="container-fluid">
    <div class="animated fadeIn">
      <!--/.row-->
      <div class="row">
        <!--/.col-->
        <div class="col-md-12">
          <!--/.card-->
          <div class="card border-primary">
            <div class="card-header bg-primary">
              <i class="fa fa-align-justify"></i> Consolidado
            </div>
            <div class="card-body">
              <!--/.row-->
              <div class="row">
                <!--/.col-->
                <div class="col-sm-3">
                  <div class="callout callout-info" style="cursor: pointer" (click)="abrirApartamentos()">
                    <small class="text-muted">Apartamentos</small>
                    <br>
                    <strong class="h4">{{apartamentos.length}}</strong>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-3">
                  <div class="callout callout-danger">
                    <small class="text-muted">Vendidos</small>
                    <br>
                    <strong class="h4">0</strong>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-3">
                  <div class="callout callout-warning">
                    <small class="text-muted">Reservados</small>
                    <br>
                    <strong class="h4">0</strong>
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-3" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
                <!--/.col-->
                <div class="col-sm-3">
                  <div class="callout callout-success">
                    <small class="text-muted">Retenidos</small>
                    <br>
                    <strong class="h4">0</strong>
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <!--/.row-->
            </div>
          </div>
          <!--/.card-->
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
      <div class="row">
        <!--/.col-->
        <div class="col-md-12">
          <!--/.card-->
          <div class="card border-primary">
            <div class="card-header bg-primary" *ngIf="!vermensajes">
              <i class="fa fa-align-justify"></i> Detalle
              <button type="button" class="btn btn-primary btn-sm float-right" (click)="abrirApartamentos()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class="card-header bg-primary" *ngIf="vermensajes">
              <div *ngIf="estadomensajes">
                <i class="fa fa-envelope-o"></i> Leidos
              </div>
              <div *ngIf="!estadomensajes">
                <i class="fa fa-envelope-o"></i> No leidos
              </div>
              <button type="button" class="btn btn-primary btn-sm float-right" (click)="cerrarmensajes()">
                <i class="fa fa fa-remove"></i>
              </button>
              <p-inputSwitch [(ngModel)]="estadomensajes" name="estadomensajes" (click)="listarmensajes(apartamento_id, estadomensajes)"></p-inputSwitch>
              <!-- <ui-switch [(ngModel)]="estadomensajes" [checked]="true" name="estadomensajes" class="float-right" (click)="listarmensajes(apartamento_id, estadomensajes)"
                title="estado mensaje">activo</ui-switch> -->
            </div>
            <div *ngIf="cargando">
              <app-cargando></app-cargando>
            </div>
            <form #buscarapartamento="ngForm" *ngIf="!cargando && !vermensajes" (ngSubmit)="busqueda()">
              <div class="card-body">
                <div class="input-group">
                  <input type="text" class="form-control border-primary" placeholder="Busque por ubigeo" maxlength="150"
                    id="ubicacion" [(ngModel)]="parametros.ubigeo_id.ubigeo" name="ubigeo">
                  <input type="text" class="form-control border-primary" placeholder="Busque por direccion" maxlength="150"
                    id="direccion" [(ngModel)]="parametros.direccion" name="direccion">
                  <button class="input-group-addon btn btn-square btn-primary" (click)="busqueda()" type="button"><i
                      class="fa fa-search cursor-pointer"></i></button>
                  <button type="reset" class="btn btn-sm btn-primary" title="limpiar" (click)="limpiar()"><i class="fa fa-eraser"></i></button>
                </div>
                <div class="table-responsive">
                  <!--/.table-->
                  <table class="table table-responsive-sm table-bordered table-striped table-hover table-outline">
                    <thead class="thead-light">
                      <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">
                          <i class="fa fa-file-image-o"></i>
                        </th>
                        <th class="text-center">Ubicacion</th>
                        <th>Direccion</th>
                        <th class="text-center">Area</th>
                        <th>Precio</th>
                        <th>Pisos</th>
                        <th>¿Cochera?</th>
                        <!--<th>Descripcion</th>-->
                        <th>Estado</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let apartamento of apartamentos;let i=index">
                        <th class="text-center">{{i+1}}</th>
                        <td *ngIf="apartamento.foto==null">
                          <a href="assets/img-empresa/avatars/no_image.png" target="_blank">
                            <img src="assets/img-empresa/avatars/no_image.png" class="rounded mx-auto d-block" width="10" />
                          </a>
                        </td>
                        <td *ngIf="apartamento.foto!=null">
                          <a [href]="apartamento.foto" target="_blank">
                            <img [src]="apartamento.foto" class="rounded mx-auto d-block" width="10" />
                          </a>
                        </td>
                        <td>{{apartamento.ubigeo}}</td>
                        <td>{{apartamento.direccion}}</td>
                        <td>{{apartamento.largo}} x {{apartamento.ancho}} mts.</td>
                        <td>S/ {{apartamento.precio}}</td>
                        <td>{{apartamento.npisos}}</td>
                        <td>
                          <label class="form-control-label" *ngIf="apartamento.tcochera==0">No</label>
                          <label class="form-control-label" *ngIf="apartamento.tcochera==1">Si</label>
                        </td>
                        <!--<td>{ {apartamento.descripcion}}</td>-->
                        <td>
                          <p-inputSwitch [(ngModel)]="apartamento.estado" name="estado" (click)="confirmarcambiodeestado(apartamento)"></p-inputSwitch>
                          <!-- <ui-switch [(ngModel)]="apartamento.estado" name="estado" (click)="confirmarcambiodeestado(apartamento)">estado</ui-switch> -->
                        </td>
                        <td scope="row" class="text-center">
                          <a class="btn-link" style="cursor: pointer" title="editar" (click)="editarApartamento(apartamento.id)"><i
                              class="fa fa-edit text-primary" style="font-size: 20px; "></i></a>
                          <a class="btn-link" style="cursor: pointer" title="mensajes" (click)="listarmensajes(apartamento.id, apartamento.nmensajes > 0)">
                            <i class="icon-bell text-primary" *ngIf="apartamento.nmensajes == 0" title="mensajes leidos" style="font-size: 20px; "></i>
                            <i class="icon-bell text-danger" *ngIf="apartamento.nmensajes > 0" style="font-size: 20px; "></i>
                            <span class="badge badge-pill badge-danger" title="mensajes no leidos" *ngIf="apartamento.nmensajes > 0">{{apartamento.nmensajes}}</span>
                          </a>
                          <a class="btn-link" style="cursor: pointer" (click)="mostrarApartamentoCuarto(apartamento.id)">
                            <i class="icon-bell text-primary" *ngIf="apartamento.nmensajes == 0" title="mensajes leidos" style="font-size: 20px; "></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--/.table-->
                </div>
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#">Prev</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">4</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </div>
            </form>
            <!--/.card-body-->
            <div class="card-body" *ngIf="!cargando && vermensajes">
              <!--Aqui lista todos los mensajes-->
              <div class="table-responsive">
                <!--/.table-->
                <table class="table table-responsive-sm table-bordered table-striped table-hover table-outline">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th>Nombres</th>
                      <th class="text-center">Telefono</th>
                      <th>Correo</th>
                      <th class="text-center">Titulo</th>
                      <th>Mensaje</th>
                      <th>Fecha</th>
                      <th>Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let mensaje of mensajes;let i=index">
                      <th class="text-center">{{i+1}}</th>
                      <td>{{mensaje.nombres}}</td>
                      <td>{{mensaje.telefono}}</td>
                      <td>{{mensaje.email}}</td>
                      <td>{{mensaje.titulo}}</td>
                      <td>{{mensaje.mensaje}}</td>
                      <td>{{mensaje.created_at}}</td>
                      <td>
                        <p-inputSwitch [(ngModel)]="mensaje.estado" name="estado" (click)="confirmarcambiodeestadomensaje(mensaje)"></p-inputSwitch>
                        <!-- <ui-switch [(ngModel)]="mensaje.estado" name="estado" (click)="confirmarcambiodeestadomensaje(mensaje)">estado</ui-switch> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--/.table-->
              </div>
            </div>
            <!--/.card-body-->
          </div>
          <!--/.card-->
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
    </div>
  </div>
  