<div class="modal-primary"> <!--*ngIf="listadoCasas?.length>0"-->
  <div class="card mb-0 card-accent-primary">
    <div class="card-header bg-primary p-2" *ngIf="isModal">
      <strong>{{tituloForm}} - {{casa.codigo}}</strong>
      <button type="button" class="close" style="color: white;" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-header p-2" *ngIf="!isModal">
      <strong *ngIf="!isModal">{{tituloForm}}</strong>
    </div>
    <fieldset [disabled]="accion===constantes.ACCION_CONSULTAR || !isModal">
      <form #propiedad="ngForm" name="propiedad" autocomplete="off" class="form-horizontal" (ngSubmit)="guardarpropiedad()">
        <div class="card-body pb-0 p-1">
          <!--/.card-->
          <div class="card"><!--border-primary-->
            <div class="card-header pt-2 pb-2"><!--border-primary-->
              <!-- <i class="fa fa-align-justify"></i> -->
              <strong>{{constantes.TAG_DATOS_GENERALES}}</strong>
              <div class="card-header-actions">
                <a href="#" class="card-header-action btn-minimize" data-toggle="collapse" data-target="#collapseDatosGeneral"
                  aria-expanded="true" placement="top" ngbTooltip="{{constantes.TAG_MOSTRAR_OCULTAR}}">
                  <i class="fa fa-minus"></i>
                </a>
              </div>
            </div>
            <div class="card-body pb-0 pt-1 collapse show" id="collapseDatosGeneral">
              <!--/.row-->
              <div class="row">
                <!--Propietario-->
                <div class="form-group form-group-sm col-sm-4">
                  <label class="control-label">
                    <strong>{{constantes.TAG_PROPIETARIO}} <span class="text-primary">*</span></strong>
                  </label>
                  <div class="form-group">
                    <div class="input-group">
                      <label class="form-control form-control-sm">{{persona.nombres}} - {{persona.dni}}</label>
                      <div class="input-group-append">
                        <button type="button" class="btn btn-primary btn-sm" (click)="buscarpropietario()"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Contrato-->
                <div class="form-group form-group-sm col-sm-4">
                  <label class="control-label">
                    <strong>{{constantes.TAG_CONTRATO}} <span class="text-primary">*</span></strong>
                  </label>
                  <div class="ui-g" style="width:250px;">
                    <div class="ui-g-6">
                      <p-radioButton name="group1" required value="V" label="{{constantes.TAG_VENTA}}" [(ngModel)]="casa.contrato"
                      inputId="opt2" [disabled]="accion===constantes.ACCION_CONSULTAR"></p-radioButton>
                    </div>
                    <div class="ui-g-6">
                      <p-radioButton name="group1" required value="A" label="{{constantes.TAG_ALQUILER}}" [(ngModel)]="casa.contrato"
                      inputId="opt2" [disabled]="accion===constantes.ACCION_CONSULTAR"></p-radioButton>
                    </div>
                  </div>
                </div>
                <!--Imagen-->
                <div class="form-group form-group-sm col-sm-4">
                  <label class="control-label">
                    <strong>{{constantes.TAG_FOTO_PRINCIPAL}} <span class="text-primary">*</span></strong>
                  </label>
                  <img [src]="casa.foto" (click)="mostrarModalImagen(casa)" class="form-control form-control-sm" style="cursor: pointer" *ngIf="casa.foto!=null"
                    class="rounded mx-auto d-block" width="100" />
                  <label class="form-control form-control-sm mousetrap" *ngIf="casa.foto==null"><i class="fa fa-file-image-o"></i></label>
                </div>
              </div>
              <!--/.row-->
              <div class="row">
                <div class="form-group form-group-sm col-sm-4">
                  <label class="control-label">
                    <strong>{{constantes.TAG_PRECIO_ADQUISICION}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="precioadquisicion" [(ngModel)]="casa.precioadquisicion" required placeholder="Ingrese el precio compra" 
                    class="form-control form-control-sm mousetrap" (updateValue)="casa.precioadquisicion=$event" [appAutonumeric2]="casa.precioadquisicion"
                    value="{{casa.precioadquisicion}}">
                </div>
                <div class="form-group form-group-sm col-sm-4">
                  <label class="control-label">
                    <strong>{{constantes.TAG_PRECIO_CONTRATO}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="preciocontrato" [(ngModel)]="casa.preciocontrato" required placeholder="Ingrese el precio contrato" 
                    class="form-control form-control-sm mousetrap" (updateValue)="casa.preciocontrato=$event" [appAutonumeric2]="casa.preciocontrato" 
                    value="{{casa.preciocontrato}}">
                </div>
                <div class="form-group form-group-sm col-sm-4 has-feedback">
                  <label class="control-label">
                    <strong>{{constantes.TAG_LARGO_MTS}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="largo" [(ngModel)]="casa.largo" required placeholder="Ingrese largo (area)" 
                  class="form-control mousetrap" maxlength="9" pKeyFilter="pint">
                    <span class="fa fa-question-circle form-control-feedback" placement="top" ngbPopover="{{constantes.MSJ_ATRIBUTO_AREA_PROPIEDAD}}"
                    triggers="mouseenter:mouseleave" container="body"></span>
                </div>
              </div>
              <!--/.row-->
              <div class="row">
                <div class="form-group form-group-sm col-sm-4 has-feedback">
                  <label class="control-label">
                    <strong>{{constantes.TAG_ANCHO_MTS}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="ancho" [(ngModel)]="casa.ancho" required placeholder="Ingrese ancho (area)" 
                  class="form-control mousetrap" maxlength="9" pKeyFilter="pint">
                    <span class="fa fa-question-circle form-control-feedback" placement="top" ngbPopover="{{constantes.MSJ_ATRIBUTO_AREA_PROPIEDAD}}"
                    triggers="mouseenter:mouseleave" container="body"></span>
                </div>
                <div class="form-group form-group-sm col-sm-4">
                  <label class="control-label">
                    <strong>{{constantes.TAG_UBIGEO}} <span class="text-primary">*</span></strong>
                  </label>
                  <div class="form-group">
                    <div class="input-group">
                      <label class="form-control form-control-sm">{{ubigeo.departamento.ubigeo}} - {{ubigeo.provincia.ubigeo}} - {{ubigeo.ubigeo.ubigeo}}</label>
                      <div class="input-group-append">
                        <button type="button" class="btn btn-primary btn-sm" (click)="buscarubigeo()"><i class="fa fa-search"></i></button>                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group form-group-sm col-sm-4">
                  <label class="control-label">
                    <strong>{{constantes.TAG_DIRECCION}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="direccion" [(ngModel)]="casa.direccion" required placeholder="Ingrese direccion"
                    class="form-control form-control-sm" maxlength="255">
                </div>
              </div>
              <!--/.row-->
            </div>
          </div>
          <!--/.card-->
  
          <ul class="nav nav-tabs border-primary" role="tablist">
            <li class="nav-item border-primary">
              <a class="nav-link active" data-toggle="tab" href="#home2" role="tab" aria-controls="home" ngbTooltip="{{constantes.TAG_MAS_OPCIONES}}">
                <i class="icon-calculator"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#mapa" role="tab" aria-controls="profile" ngbTooltip="{{constantes.TAG_MAPA}}">
                <i class="fa fa-map-marker"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile" ngbTooltip="{{constantes.TAG_SERVICIOS}}">
                <i class="icon-basket-loaded"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#messages2" role="tab" aria-controls="messages" ngbTooltip="{{constantes.TAG_IMAGENES}}">
                <i class="fa fa-file-image-o"></i>
              </a>
            </li>
          </ul>
  
          <div class="tab-content border-primary">
            <div class="tab-pane active" id="home2" role="tabpanel">
              <!--/.row-->
              <div class="row">
                <div class="form-group form-group-sm col-sm-4">
                  <label class="control-label">
                    <strong>{{constantes.TAG_PISOS}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="number" value="1" name="npisos" [(ngModel)]="casa.npisos" max="10" min="1" required 
                    class="form-control form-control-sm" placeholder="Ingrese cantidad pisos" maxlength="8" pKeyFilter="pint">
                </div>
                <div class="form-group form-group-sm col-sm-4">
                  <label class="control-label">
                    <strong>{{constantes.TAG_CUARTOS}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="number" value="0" name="ncuartos" [(ngModel)]="casa.ncuartos" max="30" min="0" required
                    class="form-control form-control-sm" placeholder="Ingrese cantidad cuartos" maxlength="8" pKeyFilter="pint">
                </div>
                <div class="form-group form-group-sm col-sm-4">
                  <label class="control-label">
                    <strong>{{constantes.TAG_BANIOS}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="number" value="0" name="nbanios" [(ngModel)]="casa.nbanios" max="10" min="0" required 
                    class="form-control form-control-sm" placeholder="Ingrese cantidad baños" maxlength="8" pKeyFilter="pint">
                </div>
              </div>
              <!--/.row-->
              <div class="row">
                <div class="form-group form-group-sm col-sm-2">
                  <label class="control-label">
                    <strong>{{constantes.TAG_JARDIN_PREG}} <span class="text-primary">*</span></strong>
                  </label>
                  <label class="switch switch-label switch-pill switch-primary">
                    <input type="checkbox" class="switch-input" [(ngModel)]="casa.tjardin" name="tjardin">
                    <span class="switch-slider" data-checked="on" data-unchecked="off"></span>
                  </label>
                </div>
                <div class="form-group form-group-sm col-sm-2">
                  <label class="control-label">
                    <strong>{{constantes.TAG_COCHERA_PREG}} <span class="text-primary">*</span></strong>
                  </label>
                  <label class="switch switch-label switch-pill switch-primary">
                    <input type="checkbox" class="switch-input" [(ngModel)]="casa.tcochera" name="tcochera">
                    <span class="switch-slider" data-checked="on" data-unchecked="off"></span>
                  </label>
                </div>
                <div class="form-group form-group-sm col-sm-8">
                  <label class="control-label">
                    <strong>{{constantes.TAG_REFERENCIA}} <span class="text-primary">*</span></strong>
                  </label>
                  <textarea class="form-control form-control-sm" [(ngModel)]="casa.referencia" required name="referencia" placeholder="Ingrese referencia"
                    maxlength="255"></textarea>
                </div>
              </div>
              <!--/.row-->
              <div class="row">
                <div class="form-group form-group-sm col-sm-12">
                  <label class="control-label">
                    <strong>{{constantes.TAG_DESCRIPCION}} <span class="text-primary">*</span></strong>
                  </label>
                  <textarea class="form-control form-control-sm" [(ngModel)]="casa.descripcion" required name="descripcion" placeholder="Ingrese la descripcion"
                    maxlength="255"></textarea>
                </div>
              </div>
              <!--/.row-->
            </div>

            <div class="tab-pane" id="mapa" role="tabpanel">
              <!--/.row-->
              <div class="row">
                <div class="form-group form-group-sm col-sm-6">
                  <label class="control-label">
                    <strong>{{constantes.TAG_LATITUD}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="latitud" placeholder="Ingrese latitud" [(ngModel)]="casa.latitud"
                    [disabled]="true" class="form-control form-control-sm mousetrap" required>
                </div>
                <div class="form-group form-group-sm col-sm-6">
                  <label class="control-label">
                    <strong>{{constantes.TAG_LONGITUD}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="longitud" placeholder="Ingrese longitud" [(ngModel)]="casa.longitud"
                    [disabled]="true" class="form-control form-control-sm mousetrap" required>
                </div>
              </div>
              <!--/.row-->
              <div class="row">
                <div class="form-group form-group-sm col-sm-12"><!--[mapTypeControlOptions]="mapTypeControlOptions"-->
                  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [zoomControl]="true" [zoomControlOptions]="zoomControlOptions" 
                  [fullscreenControl]="true" [fullscreenControlOptions]="fullscreenControlOptions" [streetViewControl]="'false'" 
                  [mapTypeControl]="'true'" [scaleControl]="true" [scaleControlOptions]="scaleControlOptions" 
                  [disableDefaultUI]="true" [panControl]="true" [panControlOptions]="panControlOptions" [streetViewControlOptions]="true">
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [draggable]="true" (dragEnd)="markerDragEnd($event)"
                      [markerDraggable]="accion===constantes.ACCION_CONSULTAR ? false : true">
                      <agm-info-window>
                        <h6><strong>Ubicación {{constantes.TAG_CASA}}</strong></h6>
                        <p>Punto de Ubicación</p>
                      </agm-info-window>
                    </agm-marker>
                  </agm-map>
                </div>
              </div>
              <!--/.row-->
            </div>

            <div class="tab-pane" id="profile2" role="tabpanel">
              <div class="form-group">
                <div class="pc-line-neg row box-line-negocio no-gutters justify-content-between align-items-center mt-3 p-2"
                  style="background-color: antiquewhite">
                  <div class="col">
                    Asignar Servicios a esta propiedad
                  </div>
                  <div class="col-auto">
                    <a [ngClass]="{'btn btn-link disabled' : accion===constantes.ACCION_CONSULTAR}" 
                      (click)="buscarservicio()" title="asignar rol" style="cursor: pointer">
                      <i class="fa fa-plus-circle fa-2x cursor-pointer text-primary"></i>
                    </a>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col table-responsive" *ngIf="servicios && servicios.length>0">
                    <table class="table table-responsive-sm table-bordered table-striped table-hover table-outline">
                      <!--table table-sigro table-hover-->
                      <thead class="thead-inverse">
                        <tr>
                          <th>#</th>
                          <th>Servicio</th>
                          <th>Detalle</th>
                          <th style="width:30px;">Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="cursor-pointer" *ngFor="let servicio of servicios; let i = index;">
                          <th class="text-center">{{i+1}}</th>
                          <td>
                            {{servicio.servicio}}
                          </td>
                          <td>
                            {{servicio.detalle}}
                          </td>
                          <td class="text-center">
                            <a [ngClass]="{'btn btn-link disabled' : accion===constantes.ACCION_CONSULTAR}" 
                              style="cursor: pointer" title="quitar" (click)="quitarservicio(servicio)">
                              <i class="fa fa-remove text-primary" style="font-size: 23px; "></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="messages2" role="tabpanel">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" (click)="cargarImagenes()" [disabled]="archivos.length==0" class="btn btn-success btn-sm">Subir
                      Imagenes</button>
                    <button type="button" (click)="limpiarArchivos()" [disabled]="archivos.length==0" class="btn btn-danger btn-sm"><i
                        class="fa fa-eraser"></i> Limpiar</button>
                    <!--/.table-responsive-->
                    <div class="table-responsive" *ngIf="fotos.length!=0">
                      <!--/.table-->
                      <table class="table table-bordered table-striped table-hover table-outline">
                        <thead class="thead-light">
                          <tr>
                            <th class="text-center">#</th>
                            <th class="text-center"><i class="fa fa-file-image-o"></i></th>
                            <th class="text-center">Tamaño</th>
                            <th class="text-center">Pogreso</th>
                            <th class="text-center">Detalle</th>
                            <th class="text-center">Opciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let foto of fotos; let i = index;">
                            <td>{{i+1}}</td>
                            <td>
                              <img [src]="foto.foto" class="rounded mx-auto d-block" style="cursor: pointer" (click)="mostrarFotoPrincipalExistente(fotos[i])"
                                width="50"/>
                            </td>
                            <td>MB</td>
                            <td>
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width': 100 + '%'}">100 %</div>
                              </div>
                            </td>
                            <td>
                              <input class="form-control" (blur)="guardardetallefoto(fotos[i])" [(ngModel)]="foto.detalle"
                                [name]="foto.detalle" placeholder="Ingrese descripcion">
                            </td>
                            <td class="text-center">
                              <a [ngClass]="{'btn btn-link disabled' : accion===constantes.ACCION_CONSULTAR}" 
                                style="cursor: pointer" title="quitar" (click)="quitarfotocasa(fotos[i])">
                                <i class="fa fa-remove text-primary" style="font-size: 23px; "></i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <!--/.table-->
                    </div>
                    <!--/.table-responsive: archivos de fotos par subirse-->
                    <div class="table-responsive" *ngIf="archivos.length!=0">
                      <!--/.table-->
                      <table class="table table-bordered table-striped table-hover table-outline">
                        <thead class="thead-light">
                          <tr>
                            <th class="text-center">#</th>
                            <th class="text-center"><i class="fa fa-file-image-o"></i></th>
                            <th class="text-center">Tamaño</th>
                            <th class="text-center">Pogreso</th>
                            <th class="text-center">Detalle</th>
                            <th class="text-center">Opciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let archivo of archivos; let i = index;">
                            <td>{{i+1}}</td>
                            <td [ngClass]="{'text-green': archivo.progreso >= 100}" style="cursor: pointer" (click)="mostrarFotoPrincipal(archivos[i])">{{archivo.nombreArchivo}}</td>
                            <td>{{archivo.archivo.size / 1024 /1024 | number: '.2-2'}} MB</td>
                            <td>
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}">{{archivo.progreso
                                  | number: '.2-2'}} %</div>
                              </div>
                            </td>
                            <td>
                              <input class="form-control" [(ngModel)]="archivos[i].detalle" name="detalle" placeholder="Ingrese descripcion">
                            </td>
                            <td class="text-center">
                              <a class="btn-link" style="cursor: pointer" title="quitar" (click)="quitarfoto(archivos[i])"><i
                                  class="fa fa-remove text-primary" style="font-size: 23px; "></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <!--/.table-->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <div appNgDropFile [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [ngClass]="{'file-over': estaSobreElemento}"
                      class="well drop-zone file-over">
                      <h5>Deje caer aqui los archivos</h5>
                      <img src="assets/drop-images.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
        </div>
        <div class="modal-footer border-primary" *ngIf="isModal">
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!propiedad.form.valid || listaLP.length==0 || ubigeo.ubigeo.id==undefined"><i
              class="fa fa-dot-circle-o"></i> Guardar</button>
          <button type="reset" (click)="limpiarpropiedad()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Limpiar</button>
          <button type="button" class="btn btn-sm btn-dark" (click)="activeModal.dismiss('Cross click')"><i class="fa fa-remove"></i>
            Cerrar</button>
        </div>
      </form>
    </fieldset>
  </div>
</div>

<app-imagen-modal *ngIf="parametrosFoto" [parametros]="parametrosFoto" (displayChange)="onDialogClose($event)"></app-imagen-modal>

<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>