<div class="modal-primary">
  <div class="card mb-0 card-accent-primary">
    <div class="card-header bg-primary p-2" *ngIf="isModal">
      <strong>{{tituloForm}} - {{casa.codigo}}</strong>
      <button type="button" class="close" style="color: white;" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-header p-2" *ngIf="!isModal">
      <strong *ngIf="!isModal">{{tituloForm}}</strong>
    </div>
    <fieldset [disabled]="accion===constantes.ACCION_CONSULTAR || !isModal">
      <form #propiedad="ngForm" name="propiedad" autocomplete="off" class="form-horizontal" (ngSubmit)="guardarpropiedad()">
        <div class="card-body pb-0 p-1">
          <!--/.card-->
          <div class="card">
            <div class="card-header pt-2 pb-2">
              <strong>{{constantes.TAG_DATOS_GENERALES}}</strong>
              <div class="card-header-actions">
                <a href="#" class="card-header-action btn-minimize" data-toggle="collapse" data-target="#collapseDatosGeneral"
                  aria-expanded="true" placement="top" ngbTooltip="{{constantes.TAG_MOSTRAR_OCULTAR}}">
                  <i class="fa fa-minus"></i>
                </a>
              </div>
            </div>
            <div class="card-body pb-0 pt-1 collapse show" id="collapseDatosGeneral">
              <!--/.row-->
              <div class="row">
                <!--Propietario-->
                <div class="form-group form-group-sm col-lg-4 col-md-12 col-sm-12">
                  <label class="control-label">
                    <strong>{{constantes.TAG_PROPIETARIO}} <span class="text-primary">*</span></strong>
                  </label>
                  <div class="form-group">
                    <div class="input-group">
                      <label class="form-control form-control-sm">{{persona.nombres}} - {{persona.dni}}</label>
                      <div class="input-group-append">
                        <button type="button" class="btn btn-primary btn-sm" (click)="buscarpropietario()"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Contrato-->
                <div class="form-group form-group-sm col-lg-4 col-md-6 col-sm-6">
                  <label class="control-label">
                    <strong>{{constantes.TAG_CONTRATO}} <span class="text-primary">*</span></strong>
                  </label>
                  <div class="ui-g" style="width:250px;">
                    <div class="ui-g-6">
                      <p-radioButton name="group1" required value="V" label="{{constantes.TAG_VENTA}}" [(ngModel)]="casa.contrato"
                      inputId="opt2" [disabled]="accion===constantes.ACCION_CONSULTAR"></p-radioButton>
                    </div>
                    <div class="ui-g-6">
                      <p-radioButton name="group1" required value="A" label="{{constantes.TAG_ALQUILER}}" [(ngModel)]="casa.contrato"
                      inputId="opt2" [disabled]="accion===constantes.ACCION_CONSULTAR"></p-radioButton>
                    </div>
                  </div>
                </div>
                <!--Imagen-->
                <div class="form-group form-group-sm col-lg-4 col-md-6 col-sm-6">
                  <label class="control-label">
                    <strong>{{constantes.TAG_FOTO_PRINCIPAL}} <span class="text-primary">*</span></strong>
                  </label>
                  <img [src]="casa.foto" (click)="mostrarModalImagen(casa)" class="form-control form-control-sm" style="cursor: pointer" *ngIf="casa.foto!=null"
                    class="rounded mx-auto d-block" width="100" />
                  <label class="form-control form-control-sm mousetrap" *ngIf="casa.foto==null"><i class="fa fa-file-image-o"></i></label>
                </div>
              </div>
              <!--/.row-->
              <div class="row">
                <div class="form-group form-group-sm col-sm-4">
                  <label class="control-label">
                    <strong>{{constantes.TAG_PRECIO_ADQUISICION}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="precioadquisicion" [(ngModel)]="casa.precioadquisicion" required placeholder="Ingrese el precio compra" 
                    class="form-control form-control-sm mousetrap" (updateValue)="casa.precioadquisicion=$event" [appAutonumeric2]="casa.precioadquisicion"
                    value="{{casa.precioadquisicion}}" maxlength="14">
                </div>
                <div class="form-group form-group-sm col-sm-4">
                  <label class="control-label">
                    <strong>{{constantes.TAG_PRECIO_CONTRATO}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="preciocontrato" [(ngModel)]="casa.preciocontrato" required placeholder="Ingrese el precio contrato" 
                    class="form-control form-control-sm mousetrap" (updateValue)="casa.preciocontrato=$event" [appAutonumeric2]="casa.preciocontrato" 
                    value="{{casa.preciocontrato}}" maxlength="14">
                </div>
                <div class="form-group form-group-sm col-sm-4 has-feedback">
                  <label class="control-label">
                    <strong>{{constantes.TAG_LARGO_MTS}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="largo" [(ngModel)]="casa.largo" required placeholder="Ingrese largo (área)" value="{{casa.largo}}"
                  class="form-control mousetrap" [appAutonumericValue]="casa.largo" [appAutonumeric]="configAutonumericEnteros">
                  <span class="fa fa-question-circle form-control-feedback" placement="top" ngbPopover="{{constantes.MSJ_ATRIBUTO_AREA_PROPIEDAD}}"
                    triggers="mouseenter:mouseleave" container="body"></span>
                </div>
              </div>
              <!--/.row-->
              <div class="row">
                <div class="form-group form-group-sm col-sm-4 has-feedback">
                  <label class="control-label">
                    <strong>{{constantes.TAG_ANCHO_MTS}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="ancho" [(ngModel)]="casa.ancho" required placeholder="Ingrese ancho (área)" value="{{casa.ancho}}"
                  class="form-control mousetrap" [appAutonumericValue]="casa.ancho" [appAutonumeric]="configAutonumericEnteros">
                  <span class="fa fa-question-circle form-control-feedback" placement="top" ngbPopover="{{constantes.MSJ_ATRIBUTO_AREA_PROPIEDAD}}"
                    triggers="mouseenter:mouseleave" container="body"></span>
                </div>
                <div class="form-group form-group-sm col-sm-8">
                  <label class="control-label">
                    <strong>{{constantes.TAG_UBIGEO}} <span class="text-primary">*</span></strong>
                  </label>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="ui-fluid w-90">
                        <p-autoComplete [(ngModel)]="ubigeoHU" [suggestions]="filteridUbigeos" (completeMethod)="filterUbigeoSingle($event)"
                        field="rutaubigeo" placeholder="habilitacion urbana" [minLength]="1" [disabled]="accion===constantes.ACCION_CONSULTAR || !isModal"
                        name="ubigeos" [autoZIndex]="true" [multiple]="true" (onSelect)="seleccionarUbigeoEnAutocomplete($event)" 
                        inputStyleClass="form-control text-uppercase" [readonly]="ubigeoHU.length>0" [required]="true"></p-autoComplete>
                      </span>
                      <div class="input-group-append">
                        <button type="button" class="btn btn-primary btn-sm" (click)="nuevoUbigeo()">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                      <div *ngIf="!isObject()">
                        <i class="fa fa-times" style="color: red" aria-hidden="true"></i>
                        Ingrese y seleccione la habilitación urbana. 
                      </div>
                      <div *ngIf="isObject()">
                        <i class="fa fa-check" style="color: green" aria-hidden="true" *ngIf="isObject()"></i>
                        Se ha Ingresado y seleccionado con éxito la habilitación urbana.
                      </div>
                    </small>
                  </div>
                </div>
              </div>
              <!--/.row-->
              <div class="row">
                <div class="form-group form-group-sm col-sm-12">
                  <label class="control-label">
                    <strong>{{constantes.TAG_DIRECCION}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="direccion" [(ngModel)]="casa.direccion" required placeholder="Ingrese dirección"
                    class="form-control form-control-sm" maxlength="100">
                </div>
              </div>
              <!--/.row-->
            </div>
          </div>
          <!--/.card-->
  
          <ul class="nav nav-tabs border-primary" role="tablist">
            <li class="nav-item border-primary">
              <a class="nav-link active" data-toggle="tab" href="#home2" role="tab" aria-controls="home" ngbTooltip="{{constantes.TAG_MAS_OPCIONES}}">
                <i class="icon-calculator"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#mapa" role="tab" aria-controls="profile" ngbTooltip="{{constantes.TAG_MAPA}}">
                <i class="fa fa-map-marker"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile" ngbTooltip="{{constantes.TAG_SERVICIOS}}">
                <i class="icon-basket-loaded"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#archivosFotos" role="tab" aria-controls="messages" ngbTooltip="{{constantes.TAG_IMAGENES}}">
                <i class="fa fa-file-image-o"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#archivos" role="tab" aria-controls="messages" ngbTooltip="{{constantes.TAG_ARCHIVOS}}">
                <i class="fa fa-file-text-o"></i>
              </a>
            </li>
          </ul>
  
          <div class="tab-content border-primary">
            <div class="tab-pane active" id="home2" role="tabpanel">
              <!--/.row-->
              <div class="row">
                <div class="form-group form-group-sm col-sm-4 has-feedback">
                  <label class="control-label">
                    <strong>{{constantes.TAG_PISOS}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="npisos" [(ngModel)]="casa.npisos" required placeholder="Ingrese cantidad pisos" value="{{casa.npisos}}"
                  class="form-control mousetrap" [appAutonumericValue]="casa.npisos" [appAutonumeric]="configAutonumericEnteros">
                  <span class="fa fa-question-circle form-control-feedback" placement="top" ngbPopover="Rango: [0, 127]"
                    triggers="mouseenter:mouseleave" container="body"></span>
                </div>
                <div class="form-group form-group-sm col-sm-4 has-feedback">
                  <label class="control-label">
                    <strong>{{constantes.TAG_CUARTOS}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="ncuartos" [(ngModel)]="casa.ncuartos" required placeholder="Ingrese cantidad cuartos" value="{{casa.ncuartos}}"
                  class="form-control mousetrap" [appAutonumericValue]="casa.ncuartos" [appAutonumeric]="configAutonumericEnteros">
                  <span class="fa fa-question-circle form-control-feedback" placement="top" ngbPopover="Rango: [0, 127]"
                    triggers="mouseenter:mouseleave" container="body"></span>
                </div>
                <div class="form-group form-group-sm col-sm-4 has-feedback">
                  <label class="control-label">
                    <strong>{{constantes.TAG_BANIOS}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="nbanios" [(ngModel)]="casa.nbanios" required placeholder="Ingrese cantidad baños" value="{{casa.nbanios}}"
                  class="form-control mousetrap" [appAutonumericValue]="casa.nbanios" [appAutonumeric]="configAutonumericEnteros">
                  <span class="fa fa-question-circle form-control-feedback" placement="top" ngbPopover="Rango: [0, 127]"
                    triggers="mouseenter:mouseleave" container="body"></span>
                </div>
              </div>
              <!--/.row-->
              <div class="row">
                <div class="form-group form-group-sm col-sm-2">
                  <label class="control-label">
                    <strong>{{constantes.TAG_JARDIN_PREG}}</strong>
                  </label>
                  <label class="switch switch-label switch-pill switch-primary">
                    <input type="checkbox" class="switch-input" [(ngModel)]="casa.tjardin" name="tjardin">
                    <span class="switch-slider" data-checked="on" data-unchecked="off"></span>
                  </label>
                </div>
                <div class="form-group form-group-sm col-sm-2">
                  <label class="control-label">
                    <strong>{{constantes.TAG_COCHERA_PREG}}</strong>
                  </label>
                  <label class="switch switch-label switch-pill switch-primary">
                    <input type="checkbox" class="switch-input" [(ngModel)]="casa.tcochera" name="tcochera">
                    <span class="switch-slider" data-checked="on" data-unchecked="off"></span>
                  </label>
                </div>
                <div class="form-group form-group-sm col-sm-8">
                  <label class="control-label">
                    <strong>{{constantes.TAG_REFERENCIA}} <span class="text-primary">*</span></strong>
                  </label>
                  <textarea class="form-control form-control-sm" [(ngModel)]="casa.referencia" required name="referencia" placeholder="Ingrese referencia"
                    maxlength="255"></textarea>
                </div>
              </div>
              <!--/.row-->
              <div class="row">
                <div class="form-group col-sm-12">
                  <label class="control-label">
                    <strong>{{constantes.TAG_DESCRIPCION}} <span class="text-primary">*</span></strong>
                  </label>
                  <textarea class="form-control form-control-sm" [(ngModel)]="casa.descripcion" required name="descripcion" placeholder="Ingrese descripción"
                    maxlength="765" rows="3"></textarea>
                </div>
              </div>
              <!--/.row-->
            </div>

            <div class="tab-pane" id="mapa" role="tabpanel">
              <!--/.row-->
              <div class="row">
                <div class="form-group form-group-sm col-sm-6">
                  <label class="control-label">
                    <strong>{{constantes.TAG_LATITUD}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="latitud" placeholder="Ingrese latitud" [(ngModel)]="casa.latitud"
                    [disabled]="true" class="form-control form-control-sm mousetrap" required>
                </div>
                <div class="form-group form-group-sm col-sm-6">
                  <label class="control-label">
                    <strong>{{constantes.TAG_LONGITUD}} <span class="text-primary">*</span></strong>
                  </label>
                  <input type="text" name="longitud" placeholder="Ingrese longitud" [(ngModel)]="casa.longitud"
                    [disabled]="true" class="form-control form-control-sm mousetrap" required>
                </div>
              </div>
              <!--/.row-->
              <!-- <h1>Angular Google Maps with Places Search Example</h1>
              <div class="form-group">
                <label>Enter address</label>
                <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" 
                autocorrect="off" autocapitalize="off" spellcheck="off" #search>
              </div>
              <h5>Address: {{address}}</h5>
              <div>Latitude: {{latitude}}</div>
              <div>Longitude: {{longitude}}</div> -->
              <div class="row">
                <div class="form-group form-group-sm col-sm-12"><!--[mapTypeControlOptions]="mapTypeControlOptions"-->
                  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [zoomControl]="true" [zoomControlOptions]="zoomControlOptions" 
                  [fullscreenControl]="true" [fullscreenControlOptions]="fullscreenControlOptions" [streetViewControl]="'false'" 
                  [mapTypeControl]="'true'" [scaleControl]="true" [scaleControlOptions]="scaleControlOptions" 
                  [disableDefaultUI]="true" [panControl]="true" [panControlOptions]="panControlOptions" [streetViewControlOptions]="true">
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [draggable]="true" (dragEnd)="markerDragEnd($event)"
                      [markerDraggable]="accion===constantes.ACCION_CONSULTAR ? false : true">
                      <agm-info-window>
                        <h6><strong>Ubicación {{constantes.TAG_CASA}}</strong></h6>
                        <p>Punto de Ubicación</p>
                      </agm-info-window>
                    </agm-marker>
                  </agm-map>
                </div>
              </div>
              <!--/.row-->
            </div>

            <div class="tab-pane" id="profile2" role="tabpanel">
              <div class="form-group">
                <div class="pc-line-neg row box-line-negocio no-gutters justify-content-between align-items-center p-2"
                  style="background-color: antiquewhite">
                  <div class="col">
                    {{constantes.MSJ_ASIGNAR_SERVICIOS_PROPIEDAD}}
                  </div>
                  <div class="col-auto">
                    <a [ngClass]="{'btn btn-link disabled' : accion===constantes.ACCION_CONSULTAR}" 
                      (click)="buscarservicio()" title="agregar servicios" style="cursor: pointer">
                      <i class="fa fa-plus-circle fa-2x cursor-pointer text-primary"></i>
                    </a>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col table-responsive" *ngIf="servicios && servicios.length>0">
                    <table class="table table-bordered table-sm table-striped table-hover table-outline">
                      <!--table table-sigro table-hover-->
                      <thead class="thead-inverse">
                        <tr>
                          <th>#</th>
                          <th>{{constantes.TAG_SERVICIO}}</th>
                          <th>{{constantes.TAG_DETALLE}}</th>
                          <th style="width:30px;">{{constantes.TAG_OPCIONES}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="cursor-pointer" *ngFor="let servicio of servicios; let i = index;">
                          <th class="text-center">{{i+1}}</th>
                          <td>
                            {{servicio.servicio}}
                          </td>
                          <td>
                            {{servicio.detalle}}
                          </td>
                          <td class="text-center">
                            <a [ngClass]="{'btn btn-sm btn-link disabled' : accion===constantes.ACCION_CONSULTAR}" 
                              style="cursor: pointer" title="quitar" (click)="quitarservicio(servicio)">
                              <i class="fa fa-remove text-primary" style="font-size: 23px; "></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!--Panel de imagenes-->
            <div class="tab-pane" id="archivosFotos" role="tabpanel">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <!--/.card imagenes-->
                    <div class="card">
                      <div class="card-header pt-2 pb-2">
                        <strong>{{constantes.TAG_IMAGENES}}</strong>
                        <div class="card-header-actions">
                          <button type="button" (click)="cargarImagenes()" [disabled]="archivosFotos.length==0" class="btn btn-success btn-sm mr-1">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            <span class="d-none d-md-inline"> {{constantes.LABEL_SUBIR}}</span>
                          </button>
                          <button type="button" (click)="limpiarFotos()" [disabled]="archivosFotos.length==0" class="btn btn-danger btn-sm">
                            <i class="fa fa-eraser"></i>
                            <span class="d-none d-md-inline"> {{constantes.LABEL_LIMPIAR}}</span>
                          </button>
                        </div>
                      </div>
                      <div class="card-body usuario pb-0 p-1" style="text-align: center;">
                          <p-fileUpload #fubauto accept="image/*" invalidfilesizemessagedetail="El tamaño máximo de carga es 1 MB." 
                          maxfilesize="1000000" name="myfile[]" chooseLabel="Seleccione" auto="true"  multiple="multiple"
                          (onSelect)="onSelectImagenes($event)" customUpload="false"><!--mode="advanced"-->
                          <ng-template let-file pTemplate="file" class="text-center">
                            <!-- <img alt="Card image cap" src="{{imagen}}" class="foto-perfil rounded mx-auto d-block" width="50"/> -->
                          </ng-template>
                        </p-fileUpload>  
                        <!--/.table-responsive-->
                          <div class="table-responsive">
                            <!--/.table-->
                            <table class="table table-bordered table-sm table-striped table-hover table-outline m-0">
                              <thead class="thead-light">
                                <tr>
                                  <th class="text-center">#</th>
                                  <th class="text-center"><i class="fa fa-file-image-o"></i></th>
                                  <th class="text-center">{{constantes.TAG_TAMANIO}}</th>
                                  <th class="text-center">{{constantes.TAG_PROGRESO}}</th>
                                  <th class="text-center">{{constantes.TAG_DETALLE}}</th>
                                  <th class="text-center">{{constantes.TAG_OPCIONES}}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <!--/.fotos ya subidas al servidor-->
                                <tr *ngFor="let foto of fotos; let i = index;">
                                  <td>{{i+1}}</td>
                                  <td>
                                    <img [src]="foto.foto" class="rounded mx-auto d-block" style="cursor: pointer" (click)="mostrarFotoPrincipalExistente(fotos[i])"
                                      width="50"/>
                                  </td>
                                  <td>MB</td>
                                  <td>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" [ngStyle]="{'width': 100 + '%'}">100 %</div>
                                    </div>
                                  </td>
                                  <td>
                                    <input class="form-control" (blur)="guardardetallefoto(fotos[i])" [(ngModel)]="foto.detalle"
                                      [name]="foto.detalle" placeholder="Ingrese descripciónn" required>
                                  </td>
                                  <td class="text-center">
                                    <a [ngClass]="{'btn btn-sm btn-link disabled' : accion===constantes.ACCION_CONSULTAR}" 
                                      style="cursor: pointer" title="quitar" (click)="quitarfotocasa(fotos[i])">
                                      <i class="fa fa-remove text-primary" style="font-size: 23px; "></i>
                                    </a>
                                  </td>
                                </tr>
                                <!--/.archivosFotos de fotos para subirse-->
                                <tr *ngFor="let archivo of archivosFotos; let i = index;">
                                  <td>{{fotos.length + i + 1}}</td>
                                  <td [ngClass]="{'text-green': archivo.progreso >= 100}" style="cursor: pointer" 
                                    (click)="mostrarFotoPrincipal(archivosFotos[i])">{{archivo.nombreArchivo}}</td>
                                  <td>{{archivo.archivo.size / 1024 /1024 | number: '.2-2'}} MB</td>
                                  <td>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}">{{archivo.progreso
                                        | number: '.2-2'}} %</div>
                                    </div>
                                  </td>
                                  <td>
                                    <input class="form-control" [(ngModel)]="archivosFotos[i].detalle" name="detalle" placeholder="Ingrese descripcion">
                                  </td>
                                  <td class="text-center">
                                    <a class="btn-sm btn-link" style="cursor: pointer" title="quitar" (click)="quitarfoto(archivosFotos[i])"><i
                                        class="fa fa-remove text-primary" style="font-size: 23px; "></i></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!--/.table-->
                          </div>
                          <div class="row">
                            <div class="col-md-12 text-center">
                              <div appNgDropFile [archivos]="archivosFotos" (mouseSobre)="estaSobreElemento = $event" [ngClass]="{'file-over': estaSobreElemento}"
                                class="well drop-zone file-over">
                                <h5>{{constantes.MSJ_DEJAR_CAER_ARCHIVOS}}</h5>
                                <img src="assets/drop-images.png">
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!--/.End card imagenes-->
                  </div>
                </div>
              </div>
            </div>

            <!--Panel de archivos-->
            <div class="tab-pane" id="archivos" role="tabpanel">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <!--/.card -->
                    <div class="card">
                      <div class="card-header pt-2 pb-2">
                        <strong>{{constantes.TAG_ARCHIVOS}}</strong>
                        <div class="card-header-actions">
                          <button type="button" (click)="cargarArchivos()" [disabled]="archivosDocumentos.length==0" class="btn btn-success btn-sm mr-1">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            <span class="d-none d-md-inline"> {{constantes.LABEL_SUBIR}}</span>
                          </button>
                          <button type="button" (click)="limpiarArchivosDocumentos()" [disabled]="archivosDocumentos.length==0" class="btn btn-danger btn-sm">
                            <i class="fa fa-eraser"></i>
                            <span class="d-none d-md-inline"> {{constantes.LABEL_LIMPIAR}}</span>
                          </button>
                        </div>
                      </div>
                      <div class="card-body usuario pb-0 p-1" style="text-align: center;">
                        <p-fileUpload #fubautofiles accept=".pdf,.doc,.docx" invalidfilesizemessagedetail="El tamaño máximo de carga es 1 MB." 
                          maxfilesize="1000000" name="myfiles[]" chooseLabel="Seleccione" auto="true"  multiple="multiple"
                          (onSelect)="onSelectArchivos($event)" customUpload="false"><!--mode="advanced"-->
                          <ng-template let-file pTemplate="file" class="text-center">
                            <!-- <img alt="Card image cap" src="{{imagen}}" class="foto-perfil rounded mx-auto d-block" width="50"/> -->
                          </ng-template>
                        </p-fileUpload>
                        <!--/.table-responsive-->
                        <div class="table-responsive">
                          <!--/.table-->
                          <table class="table table-bordered table-sm table-striped table-hover table-outline m-0">
                            <thead class="thead-light">
                              <tr>
                                <th class="text-center">#</th>
                                <th class="text-center"><i class="fa fa-file-image-o"></i></th>
                                <th class="text-center">{{constantes.TAG_NOMBRE}}</th>
                                <th class="text-center">{{constantes.TAG_PROGRESO}}</th>
                                <th class="text-center">{{constantes.TAG_OPCIONES}}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <!--/.documentos subidos al servidor-->
                              <tr *ngFor="let archivo of archivos; let i = index;">
                                <td>{{i+1}}</td>
                                <td>
                                  <a [href]="archivo.archivo" class="text-body" target="_blank" title="Descargar">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                  </a>
                                </td>
                                <td>{{archivo.nombre}}</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': 100 + '%'}">100 %</div>
                                  </div>
                                </td>
                                <td class="text-center">
                                  <a [ngClass]="{'btn btn-sm btn-link disabled' : accion===constantes.ACCION_CONSULTAR}" 
                                    style="cursor: pointer" title="quitar" (click)="quitararchivocasa(archivos[i])">
                                    <i class="fa fa-remove text-primary" style="font-size: 23px; "></i>
                                  </a>
                                </td>
                              </tr>
                              <!--/.archivosDocumentos de documentos para subirse-->
                              <tr *ngFor="let archivo of archivosDocumentos; let i = index;">
                                <td>{{archivos.length + i + 1}}</td>
                                <td [ngClass]="{'text-green': archivo.progreso >= 100}">{{archivo.nombreArchivo}}</td>
                                <td>{{archivo.archivo.size / 1024 /1024 | number: '.2-2'}} MB</td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}">{{archivo.progreso
                                      | number: '.2-2'}} %</div>
                                  </div>
                                </td>
                                <td class="text-center">
                                  <a class="btn-sm btn-link" style="cursor: pointer" title="quitar" (click)="quitararchivo(archivosDocumentos[i])"><i
                                      class="fa fa-remove text-primary" style="font-size: 23px; "></i></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!--/.table-->
                        </div>
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <div appNgDropFile [archivos]="archivosDocumentos" (mouseSobre)="estaSobreElemento = $event" [ngClass]="{'file-over': estaSobreElemento}"
                              class="well drop-zone file-over">
                              <h5>{{constantes.MSJ_DEJAR_CAER_ARCHIVOS}}</h5>
                              <img src="assets/drop-images.png">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
        </div>
        <div class="modal-footer border-primary" *ngIf="isModal">
          <button type="submit" class="btn btn-sm btn-primary" 
          [disabled]="!propiedad.form.valid || listaLP.length==0 || ubigeo.ubigeo.id==undefined || ubigeoHU.length==0">
            <i class="{{constantes.ICON_GUARDAR}}"></i>
            <span class="d-none d-md-inline"> {{constantes.LABEL_GUARDAR}}</span>
          </button>
          <button type="reset" (click)="limpiarpropiedad()" class="btn btn-sm btn-danger">
            <i class="{{constantes.ICON_LIMPIAR}}"></i>
            <span class="d-none d-md-inline"> {{constantes.LABEL_LIMPIAR}}</span>
          </button>
          <button type="button" class="btn btn-sm btn-default" (click)="activeModal.dismiss('Cross click')">
            <i class="{{constantes.ICON_CANCELAR}}"></i>
            <span class="d-none d-md-inline"> {{constantes.LABEL_CANCELAR}}</span>
          </button>
        </div>
      </form>
    </fieldset>
  </div>
</div>

<app-imagen-modal *ngIf="parametrosFoto" [parametros]="parametrosFoto" 
(displayChange)="onDialogClose($event)"></app-imagen-modal>

<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>