<div class="card mb-0 card-accent-primary">
  <div class="card-header bg-primary">
    <span *ngIf="!vistaFormulario" class="h6">MANTENIMIENTO DE TIPO UBIGEO</span>
    <span *ngIf="vistaFormulario && verNuevo" class="h6">NUEVO TIPO UBIGEO</span>
    <span *ngIf="vistaFormulario && !verNuevo" class="h6">EDITANDO TIPO UBIGEO</span>
    <button type="button" class="close float-right" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <!--/.form-->
  <form #frmDatos="ngForm" name="frmDatos" autocomplete="off" *ngIf="!vistaFormulario">
    <div class="card-body pb-0" >
      <!--/.card-->
      <div class="card border-primary">
          <div class="card-header bg-primary border-primary">
            <i class="fa fa-align-justify"></i> Lista de tipo ubigeo
            <button type="button" class="btn btn-primary btn-sm float-right" (click)="nuevo()">
              <i class="fa fa-plus"></i> Nuevo
            </button>
          </div>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control border-primary" required placeholder="Busque por tipo ubigeo" maxlength="150" name="tipoubigeo" [(ngModel)]="parametros.tipoubigeo">
              <button type="button" class="input-group-addon btn btn-square btn-primary" title="buscar" (click)="busqueda(frmDatos)"><i class="fa fa-search cursor-pointer"></i></button>
              <button type="reset" class="btn btn-sm btn-primary" title="actualizar" (click)="limpiar()"><i class="fa fa-refresh cursor-pointer"></i></button>
            </div>
            <div class="table-responsive">
              <!--/.table-->
              <table class="table table-sm table-responsive-sm table-bordered table-striped table-hover table-outline">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th>Tipo Ubigeo</th>
                      <th>Estado</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tipoubigeo of tipoubigeos;let i=index" style="cursor: pointer" (click)="enviartipoubigeo(tipoubigeo)">
                      <th class="text-center">{{i+1}}</th>
                      <td>{{tipoubigeo.tipoubigeo}}</td>
                      <td>
                        <label class="switch switch-label switch-pill switch-primary">
                          <input type="checkbox" class="switch-input" [(ngModel)]="tipoubigeo.estado" name="{{tipoubigeo.tipoubigeo}}">
                          <span class="switch-slider" data-checked="on" data-unchecked="off" (click)="confirmarcambiodeestado(tipoubigeo)"></span>
                        </label>
                      </td>
                      <td scope="row" class="text-center">
                        <a class="btn-link" style="cursor: pointer" title="editar" (click)="traerParaEdicion(tipoubigeo.id)"><i class="fa fa-edit text-primary" style="font-size: 23px; "></i></a>
                      </td>
                    </tr>
                  </tbody>
              </table>
              <!--/.table-->
            </div>
            <p-paginator [rows]="4" [totalRecords]="tipoubigeosCopia.length" [rowsPerPageOptions]="[4,8,12]"
              (onPageChange)="paginate($event)" styleClass="mb7">
            </p-paginator>
          </div>
      </div>
      <!--/.card-->
    </div>
    <div class="modal-footer border-primary">
        <button type="reset" (click)="limpiar()" class="btn btn-sm btn-danger"><i class="fa fa-eraser"></i> Limpiar</button>
        <button type="button" class="btn btn-sm btn-dark" (click)="activeModal.dismiss('Cross click')"><i class="fa fa-remove"></i> Cerrar</button>
    </div>
  </form>
  <!--/.form-->
  <form #formulario="ngForm" name="formulario" autocomplete="off" *ngIf="vistaFormulario" class="form-horizontal"> <!--#formulario="ngForm"-->
    <div class="card-body" >
      <div class="form-group row">
        <label class="col-sm-3 form-control-label">Estado <span class="text-primary">*</span></label>
        <div class="col-sm-9" >
          <label class="switch switch-label switch-pill switch-primary">
            <input type="checkbox" class="switch-input" [(ngModel)]="tipoubigeo.estado" name="estado">
            <span class="switch-slider" data-checked="on" data-unchecked="off"></span>
          </label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 form-control-label">Tipo Ubigeo <span class="text-primary">*</span></label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="tipoubigeo" required placeholder="Ingrese nombre tipo ubigeo" maxlength="50" [(ngModel)]="tipoubigeo.tipoubigeo"><!--[(ngModel)]="ingeniero.nombre"-->
        </div>
      </div>
    </div>
    <div class="modal-footer border-primary">
        <button type="button" class="btn btn-sm btn-primary" (click)="guardarTipoUbigeo(formulario)" [disabled]="!formulario.form.valid"><i class="fa fa-dot-circle-o"></i> Guardar</button><!--*ngIf="!ingeniero.id" [disabled]="!formulario.form.valid || !ingeniero.idubigeo.nombre"-->
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-eraser"></i> Limpiar</button>
        <button type="button" class="btn btn-sm btn-dark" (click)="vistaFormulario = false"><i class="fa fa-remove"></i> Cancelar</button>
    </div>
  </form>
  <!--/.card-->
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>