<div class="card mb-0 card-accent-primary">
  <div class="card-header bg-primary">
    <span *ngIf="!vistaFormulario" class="h6">MANTENIMIENTO DE UBIGEOS</span>
    <span *ngIf="vistaFormulario && verNuevo" class="h6">NUEVO UBIGEO</span>
    <span *ngIf="vistaFormulario && !verNuevo" class="h6">EDITANDO UBIGEO</span>
    <button type="button" class="close float-right" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <!--/.form-->
  <form #frmDatos="ngForm" name="frmDatos" autocomplete="off" *ngIf="!vistaFormulario">
    <div class="card-body pb-0" >
      <!--/.card-->
      <div class="card border-primary">
          <div class="card-header bg-primary border-primary">
            <i class="fa fa-align-justify"></i> Listado de ubigeos
            <button type="button" class="btn btn-primary btn-sm float-right" (click)="nuevo()">
              <i class="fa fa-plus"></i> Nuevo
            </button>
          </div>
          <div class="card-body">
            <div class="input-group">
              <select (change)="mostrarprovincias(departamentoSeleccionado)" required [(ngModel)]="departamentoSeleccionado" class="form-control border-primary" name="ubigeodepartamento">
                <option selected disabled value=undefined>Seleccione Departamento...</option>
                <option [ngValue]="ubigeodepartamento" *ngFor="let ubigeodepartamento of ubigeodepartamentos"  >{{ubigeodepartamento.ubigeo}}</option>
              </select>
              <select (change)="mostrardistritos(provinciaSeleccionado)" required [(ngModel)]="provinciaSeleccionado" class="form-control border-primary" name="ubigeoprovincia">
                <option selected disabled value=undefined>Seleccione Provincia...</option>
                <option [ngValue]="ubigeoprovincia" *ngFor="let ubigeoprovincia of ubigeoprovincias"  >{{ubigeoprovincia.ubigeo}}</option>
              </select>
              <select (change)="mostrarHabilitacionesUrbanas(distritoSeleccionado)" required [(ngModel)]="distritoSeleccionado" class="form-control border-primary" name="ubigeodistrito">
                <option selected disabled value=undefined>Seleccione Distrito...</option>
                <option [ngValue]="ubigeodistrito" *ngFor="let ubigeodistrito of ubigeodistritos">{{ubigeodistrito.ubigeo}}</option>
              </select>
              <input type="text" class="form-control border-primary" required placeholder="Busque por ubigeo" maxlength="150" name="ubigeo" [(ngModel)]="parametros.ubigeo.ubigeo">
              <button type="button" class="input-group-addon btn btn-square btn-primary" (click)="busqueda(frmDatos)"><i class="fa fa-search cursor-pointer"></i></button>
              <button type="reset" class="btn btn-sm btn-primary" title="actualizar" (click)="limpiar()"><i class="fa fa-refresh cursor-pointer"></i></button>
            </div>
            <div class="table-responsive">
              <!--/.table-->
              <table class="table table-sm table-responsive-sm table-bordered table-striped table-hover table-outline">
                  <thead class="thead-light">
                    <tr>
                      <th class="text-center">#</th>
                      <th>Ubigeo</th>
                      <th>Estado</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ubigeo of ubigeos;let i=index" [ngStyle]="{'cursor': provinciaSeleccionado || distritoSeleccionado ? 'pointer ': 'default'}" (click)="provinciaSeleccionado || distritoSeleccionado ? enviarubigeo(ubigeo): ''">
                      <th class="text-center">{{i+1}}</th>
                      <td>{{ubigeo.habilitacionurbana_id ? ubigeo.habilitacionurbana_id.siglas : ''}} {{ubigeo.ubigeo}}</td>
                      <td>
                        <label class="switch switch-label switch-pill switch-primary">
                          <input type="checkbox" class="switch-input" [(ngModel)]="ubigeo.estado" name="{{ubigeo.ubigeo}}">
                          <span class="switch-slider" data-checked="on" data-unchecked="off" (click)="confirmarcambiodeestado(ubigeo)"></span>
                        </label>
                      </td>
                      <td scope="row" class="text-center">
                        <a class="btn-link" style="cursor: pointer" title="editar" (click)="traerParaEdicion(ubigeo.id)"><i class="fa fa-edit text-primary" style="font-size: 23px; "></i></a>
                      </td>
                    </tr>
                  </tbody>
              </table>
              <!--/.table-->
            </div>
            <p-paginator [rows]="4" [totalRecords]="ubigeosCopia.length" [rowsPerPageOptions]="[4,8,12]"
              (onPageChange)="paginate($event)" styleClass="mb7">
            </p-paginator>
          </div>
      </div>
      <!--/.card-->
    </div>
    <div class="modal-footer border-primary">
        <button (click)="limpiar()" class="btn btn-sm btn-danger"><i class="fa fa-eraser"></i> Limpiar</button>
        <button type="button" class="btn btn-sm btn-dark" (click)="activeModal.dismiss('Cross click')"><i class="fa fa-remove"></i> Cerrar</button>
    </div>
  </form>
  <!--/.Formulario: Nuevo Ubigeo-->
  <form #formulario="ngForm" autocomplete="off" *ngIf="vistaFormulario" class="form-horizontal">
    <div class="card-body" >
      <div class="form-group row">
        <label class="col-sm-3 form-control-label">Estado <span class="text-primary">*</span></label>
        <div class="col-sm-9" >
          <label class="switch switch-label switch-pill switch-primary">
            <input type="checkbox" class="switch-input" [(ngModel)]="ubigeoGuardar.ubigeo.estado" name="estado">
            <span class="switch-slider" data-checked="on" data-unchecked="off"></span>
          </label>
        </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-3 form-control-label">Tipo Ubigeo <span class="text-primary">*</span></label>
          <div class="col-sm-9">
            <select class="form-control border-primary" (change)="idTipoUbigeo==4 ? listarHabilitacionUrbana(true) : '' " placeholder="Filtrar por Ubigeo" style="height: calc(2.5rem);" name="idTipoUbigeo" [(ngModel)]="idTipoUbigeo">
                <option value="0">Seleccione tipo ubigeo...</option>
                <option [ngValue]="tipoubigeo.id" *ngFor="let tipoubigeo of tipoubigeos"  >{{tipoubigeo.tipoubigeo}}</option>
            </select>
          </div>
      </div>
      <div class="form-group row" *ngIf="idTipoUbigeo==2 || idTipoUbigeo==3 || idTipoUbigeo==4" >
        <label class="col-sm-3 form-control-label">Departamento <span class="text-primary">*</span></label>
        <div class="col-sm-9">
          <select class="form-control border-primary" (change)="idTipoUbigeo==3 || idTipoUbigeo==4 ? mostrarprovincias(departamentoSeleccionado): ''" style="height: calc(2.5rem);" name="departamento" [(ngModel)]="departamentoSeleccionado">
            <option selected disabled value=undefined>Seleccione Departamento...</option>
            <option [ngValue]="ubigeodepartamento" *ngFor="let ubigeodepartamento of ubigeodepartamentos"  >{{ubigeodepartamento.ubigeo}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row" *ngIf="idTipoUbigeo==3 || idTipoUbigeo==4" >
        <label class="col-sm-3 form-control-label">Provincia <span class="text-primary">*</span></label>
        <div class="col-sm-9">
          <select class="form-control border-primary" (change)="idTipoUbigeo==4 ? mostrardistritos(provinciaSeleccionado): ''" placeholder="Filtrar por Ubigeo"
            style="height: calc(2.5rem);" name="roles" [(ngModel)]="provinciaSeleccionado">
            <option selected disabled value=undefined>Seleccione Provincia...</option>
            <option [ngValue]="ubigeoprovincia" *ngFor="let ubigeoprovincia of ubigeoprovincias" >{{ubigeoprovincia.ubigeo}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row" *ngIf="idTipoUbigeo==4" >
        <label class="col-sm-3 form-control-label">Distrito <span class="text-primary">*</span></label>
        <div class="col-sm-9">
          <select class="form-control border-primary" placeholder="Filtrar por Ubigeo"
            style="height: calc(2.5rem);" name="distritos22" [(ngModel)]="distritoSeleccionado">
            <option selected disabled value=undefined>Seleccione Provincia...</option>
            <option [ngValue]="ubigeodistrito" *ngFor="let ubigeodistrito of ubigeodistritos" >{{ubigeodistrito.ubigeo}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row" *ngIf="idTipoUbigeo==4" >
        <label class="col-sm-3 form-control-label">Habilitacion urbana <span class="text-primary">*</span></label>
        <div class="col-sm-9">
          <select class="form-control border-primary" name="habilitacionurbana2" [(ngModel)]="habilitacionurbanaSelecionado">
            <option selected disabled value=undefined>Seleccione habilitacionurbana...</option>
            <option [ngValue]="habilitacionurbana" *ngFor="let habilitacionurbana of listaHabilitacionUrbana" >
              {{habilitacionurbana.nombre}} ({{habilitacionurbana.siglas}})
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 form-control-label">Ubigeo <span class="text-primary">*</span></label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="ubigeo" required="" placeholder="Ingrese nombre ubigeo" maxlength="50" [(ngModel)]="ubigeoGuardar.ubigeo.ubigeo"><!--[(ngModel)]="ingeniero.nombre"-->
        </div>
      </div>
    </div>
    <div class="modal-footer border-primary">
        <button type="button" class="btn btn-sm btn-primary" [disabled]="!formulario.form.valid || idTipoUbigeo==0" (click)="guardarUbigeo(formulario)">
          <i class="fa fa-dot-circle-o"></i> Guardar
        </button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-eraser"></i> Limpiar</button>
        <button type="button" class="btn btn-sm btn-dark" (click)="cerrarFormulario()"><i class="fa fa-remove"></i> Cancelar</button>
    </div>
  </form>
  <!--/.card-->
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>