<div class="card mb-0 card-accent-primary">
  <div class="card-header bg-primary">
    <span class="h6">DATOS PRINCIPALES DE LA EMPRESA</span>
    <button type="button" class="close float-right" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <form #empresaform="ngForm" name="empresaform" autocomplete="off" *ngIf="!cargando" class="form-horizontal" (ngSubmit)="guardarEmpresa()">
    <div class="card-body pb-0">
      <div class="form-group row">
          <label class="col-sm-3 form-control-label">Nombre <span class="text-primary">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="empresa.nombre" placeholder="Ingrese nombre de la empresa" required name="razonsocial"  maxlength="250">
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Ruc <span class="text-primary">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="empresa.ruc" maxlength="11" placeholder="Ingrese ruc de la empresa" required name="ruc">
            <small class="help-block-none">Este atributo es fundamental, se recomienda no cambiarlo.</small>
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
        <label class="col-sm-3 form-control-label">Ubigeo <span class="text-primary">*</span></label>
          <div class="col-sm-9">
            <div class="form-group">
              <div class="input-group">
                <label class="form-control">
                  {{ubigeo.departamento.ubigeo}} - {{ubigeo.provincia.ubigeo}} - {{ubigeo.ubigeo.ubigeo}}
                </label>
                <div class="input-group-append">
                  <button type="button" class="btn btn-primary" (click)="buscarubigeo()"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Direccion <span class="text-primary">*</span></label>
          <div class="col-sm-9">
            <input type="text" name="avcajiron" [(ngModel)]="empresa.direccion" placeholder="Ingrese direccion" required class="form-control">
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Telefono <span class="text-primary">*</span></label>
          <div class="col-sm-9">
            <input type="text" name="telefono" [(ngModel)]="empresa.telefono" placeholder="Ingrese telefono" required class="form-control" maxlength="100">
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Email <span class="text-primary">*</span></label>
          <div class="col-sm-9">
            <input type="email" name="email" [(ngModel)]="empresa.correo" placeholder="Ingrese email" required class="form-control" maxlength="100">
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
            <label class="col-sm-3 form-control-label">Logo</label>
            <div class="col-sm-9">
              <div class="form-group">
                <div class="input-group">
                  <input type="file" class="btn btn-primary form-control-file" accept="image/*" (change)="detectarArchivo($event)">
                </div>
              </div>
            </div>
        </div>
        <hr class="bg-primary">
        <div class="form-group row">
          <div class="col-md-12">
            <ngb-progressbar type="info" [value]="archivo.progreso">{{archivo.progreso | number: '.2-2'}} %</ngb-progressbar>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12" *ngIf="imagen==null; then imagenDefecto else imagenFirebase">
          </div>
          <ng-template #imagenDefecto class="text-center">
            <img src="assets/img-empresa/avatars/no_image.png" class="rounded mx-auto d-block">
          </ng-template>
          <ng-template #imagenFirebase class="text-center">
            <img [src]="imagen" class="rounded mx-auto d-block" width="300" alt="..."/>
          </ng-template>
        </div>
        <div class="form-group row" class="text-center" *ngIf="fotoingresada" >
          <div class="col-md-12">
            <button type="button" (click)="subirimagen()" class="btn btn-sm btn-success">Subir Imagen</button>
          </div>
        </div>
    </div>
    <div class="modal-footer border-primary">
      <button type="submit" class="btn btn-sm btn-primary" [disabled]="!empresaform.form.valid || ubigeo.ubigeo.id==undefined"><i class="fa fa-dot-circle-o"></i> Guardar</button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="limpiarempresa()"><i class="fa fa-eraser"></i> Limpiar</button>
      <button type="button" class="btn btn-sm btn-dark" (click)="activeModal.dismiss('Cross click')"><i class="fa fa-remove"></i> Cerrar</button>
    </div>
  </form>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>