<p-menubar [model]="items" [autoDisplay]="false" *ngIf="!isModal">
</p-menubar>
<div class="modal-primary">
  <div class="card">
    <div class="card-header bg-primary p-2" *ngIf="isModal">
      <strong>{{constantes.TAG_MANTENIMIENTO_UBIGEOS}}</strong>
      <button type="button" class="close" style="color: white;" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-header p-1">
      <!--Listado-->
      <app-ubigeos-listado [parametrosBusqueda]="parametrosListado"></app-ubigeos-listado>
    </div>
  </div>
</div>