<div id="all">
  <!-- Navbar Start-->
  <header class="nav-holder make-sticky animated fadeIn sticky-top">
    <div id="navbar" role="navigation" class="navbar navbar-expand-lg sizeBar" style="border-bottom: 1px solid green">
      <div class="container">
        <a [routerLink]="['inicio']" class="navbar-brand home">
          <div class="d-none d-md-inline-block">
            <img src="assets/img/logo.png" alt="Universal logo" >
          </div>
          <img src="assets/img/logo.png" alt="Universal logo" class="d-inline-block d-md-none">
          <span class="sr-only">Universal - go to homepage</span>
        </a>
        <!---->
        <div class="navbar-brand" *ngIf="verBusqueda">
          <form>
            <label class="sr-only" for="inlineFormInputGroupUsername2">Busque la ubicación</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <!-- <div class="input-group-text">@</div> -->
                <!--ComboBox: Propiedades-->
                <select [appFocus]="true" class="form-control mousetrap" name="tipopropiedades" required
                  [(ngModel)]="propiedad">
                  <option value=null>Propiedad...</option>
                  <option [ngValue]="tipopropiedad" *ngFor="let tipopropiedad of tipopropiedades">
                    {{tipopropiedad}}
                  </option>
                </select>
                <!--ComboBox: Contratos-->
                <select class="form-control mousetrap" name="contratos" required
                  [(ngModel)]="contratodetalle">
                  <option value=null>Contrato...</option>
                  <option [ngValue]="contrato" *ngFor="let contrato of tipocontratodetalle">
                    {{contrato.contrato}} ({{contrato.codigo}})
                  </option>
                </select>
              </div>
              <!-- <input type="text" class="form-control" id="inlineFormInputGroupUsername2" required
                placeholder="Ingrese la ubicación"> -->
              <p-autoComplete [(ngModel)]="ubigeo" [suggestions]="filteridUbigeos" (completeMethod)="filterUbigeoSingle($event)"
                field="rutaubigeo" [size]="25" inputClass="height: 100%" placeholder="Ingrese la ubicación" [minLength]="1" name="ubigeos"
                [autoZIndex]="true"></p-autoComplete>
              <button type="submit" class="btn btn-primary btn-sm" (click)="buscarPropiedades()"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
        <!---->
        <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span
            class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
        <div id="navigation" class="navbar-collapse collapse">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown" routerLinkActive="active">
              <a [routerLink]="['inicio']" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
              <a [routerLink]="['propiedades']" class="nav-link">Propiedades</a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
              <a [routerLink]="['nosotros']" class="nav-link">Nosotros</a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
              <a [routerLink]="['contacto']" class="nav-link">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!--Este es para los hijos componentes-->
  <router-outlet></router-outlet>
  
  <!-- FOOTER -->

  <footer class="pie animated fixed-bottom navbar-expand-sm">
    <div class="copyrights">
      <div class="container">
        <div class="top-bar navbar-expand-sm">
          <div class="container">
            <div class="row d-flex align-items-center">
              <div class="col-md-2 d-md-block d-none">
                <p><strong>&copy; {{empresa.nombre}} | Perú - {{fecha.getFullYear()}}</strong></p>
              </div>
              <div class="col-md-4 d-md-block d-none">
                <p><strong>Teléfono</strong> {{empresa.telefono}} - <strong>Email</strong> {{empresa.correo}}.</p>
              </div>
              <div class="col-md-3">
                <div class="d-flex justify-content-md-end justify-content-between">
                  <ul class="list-inline contact-info d-block d-md-none">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                  <ul class="social-custom list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>