/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.846;
  color: #666666;
  font-size: 0.8rem;
}

.sr-only {
  position: fixed!important;
}

/*feedback*/
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 40px!important;
  text-align: center;
  border-radius: 50%;
  color: #537F93;
}

.has-feedback label~.form-control-feedback {
  top: 20px;
}

.has-feedback label.sr-only~.form-control-feedback {
  top: 0;
}
/*Form*/
.form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 3px;
}

/* .form-control:focus {
  border-color: #6aae7a;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
} */

select:focus, select.form-control:focus, textarea:focus, textarea.form-control:focus, 
input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, 
input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, 
[type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus,
.ui-dropdown:focus
 {
  box-shadow: inset 0 -2px 0 #20a8d8;
}

textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], 
input[type=email], input[type=number], [type=text].form-control, [type=password].form-control,
[type=email].form-control, [type=tel].form-control, [contenteditable].form-control, p.form-control
{
  /* border: none; */
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
  box-shadow: inset 0 -1px 0 #ddd;
}

.form-control[disabled], fieldset[disabled] .form-control {
  cursor: not-allowed;
}

.form-control:disabled, .form-control[readonly] {
  background-color: transparent;
  opacity: 1;
}

/**/
.contenido{
    background-color: #D5F5E3;
  }
  
  .navColor{
    background-color: #58D68D;
  }
  
  .posSuperior{
    margin-top: 30px;
  }
  
  .fondoDiv{
    background-color:#ABEBC6;
  }
  
  .footerColor{
    background: #D6FBEE;
    clear: both;
    padding-top: 1px;
  }
  
  .sizeBar{
    line-height: 0.75;
  }
  
  .mapa{
    padding-bottom: 15px;
    background: white;
  }
  .nosotros{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #F2F4F4;
    border-radius: .3rem;
  }
  
  .w-60 {
      width: 60%!important;
  }
  
  .posImg{
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .tamImg{
    width: 50%;
    height: 50%;
  }
  
  .margenInf{
    margin-bottom: 30px;
  }
  
  .social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  .sebm-google-map-container {
    height: 400px;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  
  .pie{
    padding: 2px 0 0px;
    background: #555;
    color: #fff;
  }
  .tabla{
    background-color: white;
  }
  
  .bar {
    padding: 30px 0!important;
  }
  /*Animaciones*/
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  .switch-medium[_ngcontent-c3] small[_ngcontent-c3]{
    margin-left: 0px;
  }
  
  /*stilos pa subir imagenes*/
  .main-container{
    margin-top: 40px;
  }
  
  /* Drop Zone */
  .drop-zone {
      border: dotted 3px lightgray;
      opacity: 0.5;
      color: #666;
      text-align: center
  }
  
  .file-over {
      border: dotted 3px dodgerblue;
  }
  
  .table {
      margin-top: 30px;
  }
  
  .text-green {
      color: green
  }
  
  /*scroll*/
  .scroll {
    height: 400px;
    overflow-y: scroll;
  }

  /*menu de admin arhcivo y consultas*/
  .ui-menu, .ui-menubar, .ui-menubar .ui-submenu-list, .ui-tieredmenu, .ui-tieredmenu .ui-submenu-list, .ui-slidemenu, .ui-slidemenu .ui-submenu-list, .ui-contextmenu, .ui-contextmenu .ui-submenu-list, .ui-megamenu {
    color: #1b1d1f;
    background: #f6f7f9 0 0 repeat-x !important;
    background: linear-gradient(to bottom, #f6f7f9 0%, #ffffff 100%) !important;
  }

  /*Subir foto en usuario admin*/
  .usuario .ui-fileupload-content{
    padding: 0!important;
  }
  
  /*welcome*/
  #heading-breadcrumbs {
    padding: 0.2rem 0 !important;
  }

  .borderPanel {
    background-color: #fff;
    border-radius: 5px;
    border: 0.1em solid #6aae7a;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.33);
    box-sizing: border-box;
    /* margin-bottom: 17px;
    padding: 11px;
    position: relative;
    width: 100%; */
}
/*Galeria de imagenes*/
#galleria .img-fluid {
  width: 100% !important;
  height: 120px;
}

.h-img{
  height: 155% !important;
}
/*Ajuste de tamaño casa-detalle. etc..*/
#content .w-100 {
  height: -webkit-fill-available;
}

.mb7 {
  margin-bottom: 7px;
}

/*
  Select
*/
.ui-dropdown, .ui-autocomplete-input-token input {
  width: 100%!important;
}
#filtrospropiedades .ui-dropdown {
  width: 100%!important;
  border-radius: 3px!important;
  vertical-align: baseline!important;
}

/* #filtrospropiedades .ui-dropdown:not(.ui-state-disabled):hover, .ui-state-focus, .ui-state-default {
  background: none!important;
} */
/* #filtrospropiedades .ui-dropdown .ui-dropdown-label {
  font-size: 0.75rem!important;
}

#filtrospropiedades .ui-dropdown-panel .ui-dropdown-item {
  font-size: 0.75rem!important;
}
#filtrospropiedades .ui-dropdown.ui-state-focus {
  box-shadow: inset 0 -2px 0 #6aae7a!important;
}

#filtrospropiedades .ui-dropdown .ui-dropdown-trigger {
  padding-top: 0.9em!important;
}

#filtrospropiedades .ui-inputtext {
  padding-left: 10px!important;
}

#filtrospropiedades .ui-dropdown .ui-dropdown-clear-icon {
  right: 1em!important;
  font-size: 1.4em!important;
} */

/* .ui-autocomplete*/
.ui-autocomplete {
  height: 100% !important;
}

.ui-autocomplete-input {
  font-size: 15px !important;
  height: 100% !important;
  padding-right: 0;
}

.ui-autocomplete-list {
  font-size: 12px !important;
}

/* .ui-state-highlight {
  border-color: #6aae7a !important;
  background: #6aae7a !important;
} */

/*checkbox*/
/* .ui-chkbox-box.ui-state-active {
  border: 1px solid #6aae7a !important;
  background: #6aae7a !important;
} */

/*radiobutton*/
/* .ui-radiobutton-box.ui-state-active {
  border: 1px solid #6aae7a !important;
  background: #738177 !important;
} */

/* feedback (?)*/
/* .form-control-feedback {
  color: #6aae7a !important;
} */
/*footer del admin*/
.app-footer {
  flex: 0 0 40px !important;
}
.img-carousel {
  height: 518px !important;
}

.switch-label{
  display: block !important;
}

.w-90 {
  width: 90% !important;
}

.w-80 {
  width: 80% !important;
}

.ag-theme-balham .sick-days-warning {
  background-color: sandybrown !important;
}

.ag-theme-balham .sick-days-breach {
  background-color: #f5c9c9 !important;
}