<ol class="breadcrumb border-primary">
    <li class="breadcrumb-item">
      <a [routerLink]="['home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Configuracion</li>
  </ol>
  <div class="container-fluid">
      <div class="animated fadeIn">
        <!--/.row-->
        <div class="row">
          <!--/.col-->
          <div class="col-lg-5 col-md-4 pt-5">
            <!--/.card-->
            <div class="card border-primary">
              <div class="card-header bg-primary">
                <i class="fa fa-align-justify"></i> Consolidado
              </div>
              <div class="card-body">
                <!--/.row-->
                <div class="row">
                  <!--/.col-->
                  <div class="col-sm-12">
                    <div class="callout callout-info" style="cursor: pointer" (click)="abrirDatos()">
                      <small class="text-muted">La Empresa</small>
                      <br>
                      <strong class="h4">0</strong>
                    </div>
                  </div>
                  <!--/.col-->
                  <div class="col-sm-12">
                    <div class="callout callout-warning" style="cursor: pointer" (click)="abrirRoles()">
                      <small class="text-muted">Roles</small>
                      <br>
                      <strong class="h4">0</strong>
                      <div class="chart-wrapper">
                        <canvas id="sparkline-chart-3" width="100" height="30"></canvas>
                      </div>
                    </div>
                  </div>
                  <!--/.col-->
                  <div class="col-sm-12">
                    <div class="callout callout-success" style="cursor: pointer">
                      <small class="text-muted">Permisos</small>
                      <br>
                      <strong class="h4">0</strong>
                      <div class="chart-wrapper">
                          <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
                      </div>
                      </div>
                  </div>
                  <!--/.col-->
                </div>
                <!--/.row-->
              </div>
            </div>
            <!--/.card-->
          </div>
          <!--/.col-->
          <div class="col-lg-7 col-md-8">
            <div class="text-center">
              <img class="img-thumbnail" src="assets/images/configuracionSistema.png">
            </div>
          </div>
        </div>
        <!--/.row-->
      </div>
    </div>